[2014-11-30 11:32] prasanthu opened #1 "How to use this in a gulp based env"
How can I use this in a 'gulp' based system.  Installing using the npm (package.json) & adding to the code using
    var ReactTelInput = require('react-telephone-input');
seems to be not enough. I see the following error in Javascript console

http://localhost:3333/flags.png 404 (Not Found)

[2015-01-31 17:45] ingwet opened #2 "React in dependancies instead of peer dependancies"
Hey there!

Just came across this plugin that I absolutely love (thanks a lot for it), but it turns out to be breaking the code in a manner, very well described here http://stackoverflow.com/questions/27153166/typeerror-when-using-react-cannot-read-property-firstchild-of-undefined

Please alter the dependancies

[2015-02-02 13:56] mukeshsoni commented on #2
Have made react and lodash peerDependencies

[2015-02-02 13:56] #2 closed

[2015-02-02 17:05] #1 closed

[2015-04-21 21:21] razagill opened #4 "correct peer dependency of lodash"
Hi,
Can you please update the lodash peer dependency to the latest, can't install it if your application has lodash ^3.6.0.

[2015-04-22 07:02] mukeshsoni commented on #4
Need to test if it works with latest lodash (which has some breaking changes from the previous version). Did you try cloning the repo and changing lodash peerdependency version yourself? If yes, did it work?

[2015-04-22 21:07] razagill commented on #4
Actually I started off with another repo with your code as base, changing everything to ES6 and react 0.13.2 now. Also it seems to works with the latest lodash but I have still other errors to solve though. Reason for doing so is I wanted to have some custom features and wanted them fast. Hope it's okay with you?

[2015-04-23 04:10] mukeshsoni commented on #4
Of course. Let me know if the features make sense to everyone and the ES6 you have written can be transpiled to ES5 using babel. Might as well merge them.

[2015-04-23 22:57] razagill commented on #4
Great, I've actually got it working with ES6 now and will be adding the features in the next couple of weeks. And to answer your question, you can safely update to the latest version of lodash it won't break anything.

[2015-04-23 22:57] #4 closed

[2015-04-24 05:04] mukeshsoni commented on #4
Thanks. Will update.

[2015-06-19 19:07] KyleAMathews opened #13 "Make a patch release to NPM"
If you could please @mukeshsoni everything is now working on my end.

[2015-06-19 19:47] KyleAMathews opened #14 "When typing US number, flag switches to Canada"
Is there an easy way to stop this from happening?

[2015-06-19 20:00] KyleAMathews commented on #14
It looks like the priority stuff isn't working correctly... don't have time to debug anymore for now.

[2015-06-20 04:52] mukeshsoni commented on #14
Can you give an example of when it's breaking?

[2015-06-20 05:10] mukeshsoni commented on #13
i have published to npm bumping the version to 1.1.0. Maybe need a better way to package the css.

[2015-06-20 15:39] mukeshsoni commented on #14
Fixed

[2015-06-20 15:39] #14 closed

[2015-06-21 04:56] #13 closed

[2015-06-21 05:13] mukeshsoni opened #15 "Paint performance is <30fps. Need to investigate."

[2015-06-21 10:47] mukeshsoni commented on #15
Fixed. Was generating the who dropdown list on every render irrespective of whether it was needed to be shown or not.

[2015-06-21 10:47] #15 closed

[2015-06-23 16:58] KyleAMathews opened #16 "Less complains that flag.png is missing"
I copied the `flags.png` file from the `examples/src` folder to the `/less` folder which solved things. Is this what it should be by default? I don't use Less so unsure.

[2015-06-23 17:09] KyleAMathews commented on #16
also, related is that the relative path for the image gets compiled to `background: url([object Object])`. Apparently a known problem within Less. Changing that to an absolute path fixes things.

[2015-06-24 08:43] mukeshsoni commented on #16
but how to know the absolute path? best would injecting the path at runtime through a prop and have a default value for the prop.

Can then set the background using DOM methods in componentDidMount. What do you think?

[2015-06-24 09:28] mukeshsoni commented on #16
which compiler compiles the url string to [object object]? seems to work ok with lessify transform for browserify which we are using to compile example.less to example.css

[2015-06-24 15:33] KyleAMathews commented on #16
Yeah, I like turning the path into a prop and taking it out of Less.

I'm using Webpack and its `less-loader`. Underneath it's using v. 2.5.1 of Less which is the latest. Not sure why it's happening.

[2015-06-25 09:12] mukeshsoni commented on #16
have pushed the setting of background-image to flag style inside the component using prop - `fileImagePath`.

I wish i could remove the whole less and apply inline styles using javascript objects only.

[2015-06-25 09:12] #16 closed

[2015-06-26 18:20] KyleAMathews opened #17 "1.2.5 release doesn't include lib directory"

[2015-06-27 08:49] mukeshsoni commented on #17
fixed in 1.2.7

[2015-06-27 08:49] #17 closed

[2015-06-27 18:07] KyleAMathews commented on #17
Thanks! Everything "just worked" when I installed 1.2.7 :)

[2015-06-28 05:50] mukeshsoni commented on #17
Great! thanks for your all help!

Do you have any requirement for validating the input number using external library (like https://github.com/googlei18n/libphonenumber)?

[2015-06-29 10:42] tydicefm opened #20 "Can't load with webpack / babel setup"
I have the current webpack setup:

[code]

When I do `import ReactTelInput from 'react-telephone-input';` it crashes with the following error:

[code]

Webpack / the Bable loader seem to try to include the `.less` file as a JS file. Is there a way of forcing it to be LESS?

Manually commenting the `require('../less/default.less');` solves my issue for now as I can manually compile the LESS, but it

[2015-06-29 14:47] mukeshsoni commented on #20
you can add an alias to your webpack config for the less file

[2015-06-29 15:51] KyleAMathews commented on #20
You need to add `.less` to the `resolve.extensions` array :) had this exact problem too many times :)

[2015-06-29 16:06] KATT commented on #20
And if you'd use `react-telephone-input` in babel on the server..? :)

[2015-06-29 16:20] KyleAMathews commented on #20
Yes, this module should work just fine if you're server rendering your react site.

[2015-06-29 17:10] KATT commented on #20
See https://github.com/KATT/react-telephone-input-issue

[code]

:point_up_2: to reproduce crash. Is there a workaround for this?

[2015-06-29 17:40] KyleAMathews commented on #20
Oh that. Yes, you can't require this directly into node as it doesn't "enhance" requires like Webpack and Browserify do. For Webpack projects, you need to compile projects to a UMD js file which you then require into node. This is unfortunately poorly documented atm. Perhaps the best documentation I know of atm is http://jxnblk.com/writing/posts/static-site-generation-with-react-and-webpack/

[2015-06-30 08:33] KATT commented on #20
Or forking and removing the `require('../less/default.less');` line?

[2015-07-06 11:57] mightwork opened #22 "Get value of the inputted number ?"
what is the easiest way to get the number inputted from the user ?

[2015-07-06 12:03] mukeshsoni commented on #22
I didn't get it? For this component, the end user can type the number or copy paste.

If you mean the programmer using this component, you can pass in a value prop, `this.prop.value`, to give initial input.

[2015-07-06 12:37] mightwork commented on #22
I need to get the value of the number inputted  at the time of making a post request .

[2015-07-06 12:47] mukeshsoni commented on #22
you can send a function reference to onChange prop. `<ReactTelephoneInput onChange={yourCallback}>`. every time a change is made to the input field your callback will be called.

[2015-07-06 15:57] #20 closed

[2015-08-22 09:30] #22 closed

[2015-09-16 07:14] igor-ardas opened #24 "Undefined at first place in country dropdown list. Version 1.2.8"
Reproduced on http://unstack.in/react-telephone-input/

[2015-09-17 15:47] mukeshsoni commented on #24
Thanks for reporting. Will look at it.

[2015-09-18 05:08] mukeshsoni commented on #24
Fixed in 1.3.0

[2015-09-18 05:51] #24 closed

[2015-10-07 08:01] deepakjois opened #25 "lessify is required"
when I do `npm install react-telephone-input` on Node 4.0, and then try to use this component, I get

[code]

[2015-10-07 08:15] deepakjois opened #26 "Enable support for autocomplete"
Right now, the input field inside this component does not get autocompleted. One way to do it would be to add `autoComplete='tel'` as one of the attributes to the input tag

[2015-10-07 08:23] mukeshsoni commented on #26
Did you try doing it? What is the expected behavior?

[2015-10-07 08:25] deepakjois commented on #26
I am sorry, don’t understand your question exactly.

If you are asking if I have tried `autocomplete='tel'` on an input tag, then the answer is yes. I have tried it, and it works in Chrome and autocompletes the phone number that is set in your Chrome Autofill settings

[2015-10-07 08:27] mukeshsoni commented on #26
Yup, that was the question. I will add the autocomplete thing

[2015-10-07 08:31] mukeshsoni commented on #26
I have released a new version (1.3.2) which has this update.

[2015-10-07 08:31] #26 closed

[2015-10-07 08:40] mukeshsoni commented on #25
are you using npm 3.x for installing the module?

[2015-10-07 08:49] deepakjois commented on #25
I am using npm 2.14.4, the default version that comes with Node 4.1.1

[2015-10-07 08:50] deepakjois commented on #25
In any case, it would be nice not to depend on `lessify`. I would rather copy the static assets separately

[2015-10-07 09:08] mukeshsoni commented on #25
That can be a separate discussion.

For now, i cannot  think of a reason why it can't find lessify since it's there in dev dependencies. And i don't have node 4.* on my system. Will look at it once i can find some time.

[2015-10-07 10:30] mukeshsoni commented on #25
@deepakjois and pull requests are welcome too :)

[2015-10-07 21:27] captDaylight opened #27 "How do you get value out of the module?"
I've tried wrapping it in a form element, but onSubmit doesn't return any values. There don't seem to be any hooks for passing down a function to handle actions, how do you go about getting the value out?

[2015-10-08 04:29] mukeshsoni commented on #27
Use the `onChange` prop. Pass a function reference to it and that function will be called on every change of value in the input box.

[code]

[2015-10-08 15:30] captDaylight commented on #27
Awesome, thanks!

[2015-10-08 15:30] #27 closed

[2015-10-13 17:30] johanneslumpe opened #28 "Checking against hardcoded values in `getCountryDropDownList`"
Not sure whether you really intended to do the following:

[code]

On first sight it does seem like that this is not supposed to be like this. Why should only the `us` and `gb` codes determine whether something is preferred?

[2015-10-13 17:32] johanneslumpe opened #29 "Highlight index in drop down is always off by 1"
When selecting a country from the dropdown, the next time the dropdown is opened the highlight index is off by 1.

Interestingly this does not happen on the demo...

[2015-10-13 17:53] johanneslumpe commented on #29
Yeah not sure what happened here, closing as i cannot reproduce it anymore...

[2015-10-13 18:45] johanneslumpe commented on #29
Ok, got to reproduce it:

Using the component with webpack, using `less-loader`. Just requiring the component and then bundling leads to a weird artifact in the drop down - an option with `undefined` as name. Not sure where it is coming from - any ideas?

[2015-10-14 05:23] mukeshsoni commented on #29
Are you using the latest version from npm? This bug was fixed in an earlier version

[2015-10-14 05:24] mukeshsoni commented on #28
No that's a bug. Thanks for reporting

[2015-10-14 06:32] johanneslumpe commented on #29
@mukeshsoni yep, using `1.3.2`  from npm.

[2015-10-14 07:21] mukeshsoni commented on #29
ok, looks like a issue. Am a little busy now. Will take a look as soon as i get some time.

[2015-10-14 16:56] johanneslumpe commented on #29
Ok cool, thanks. I'm on a deadline here though, so if you tell me that this definitely is not fixable until Friday, then I will have to come up with something else.

[2015-10-14 17:20] mukeshsoni commented on #29
Pull requests are also welcome.

[2015-10-14 17:24] johanneslumpe commented on #29
Yes of course, but doesn't make sense here though since you said you previously fixed this issue. So you should have the fix ready I assume :)

[2015-10-14 17:26] mukeshsoni commented on #29
Ah, but it looks like i didn't. Seems like a build issue but need to investigate.

[2015-10-14 17:55] johanneslumpe commented on #29
@mukeshsoni It seems that the output is incorrectly transpiled.

It turned
[code]
into
[code]
Notice the square brackes around `this.state.preferredCountries`. That causes the index issue.

Since you are using `react-component-gulp-tasks` we should try to update to the latest version (only the patch version got bumped) and see if that fixes things :)

I will send a PR in a few minutes - would you

[2015-10-14 18:01] mukeshsoni commented on #29
sure, will do. thanks for the help.

[2015-10-14 18:03] johanneslumpe commented on #29
Well let's see if this really fixes the issue :)

[2015-10-14 19:13] mukeshsoni commented on #29
The problem line is surely fixed after the latest build -

From lib/index.js
[code]

[2015-10-14 19:28] johanneslumpe commented on #29
I just confirmed - works! Thanks @mukeshsoni :+1:

[2015-10-14 19:28] #29 closed

[2015-11-23 03:47] towonzhou opened #32 "how can i use this without npm?"

[2015-11-23 03:52] KyleAMathews commented on #32
Why?

[2015-11-23 04:00] mukeshsoni commented on #32
You can take the js and css files from `dist` folder and also take the flags.png file from examples folder.

[2015-11-23 04:07] towonzhou commented on #32
@KyleAMathews  i want use this on rails.

[2015-11-23 04:07] towonzhou commented on #32
@mukeshsoni ok, thx

[2015-11-23 04:39] KyleAMathews commented on #32
Managing your dependencies with NPM is really powerful. You might consider learning how. There's lots of tutorials on the internet on how to do this e.g. http://clarkdave.net/2015/01/how-to-use-webpack-with-rails/

[2015-11-23 06:31] towonzhou commented on #32
@KyleAMathews  it is a good way. I try this.

[2015-11-23 06:47] towonzhou commented on #32
@KyleAMathews use this way. can i use material-ui with rails?

[2015-11-23 07:05] KyleAMathews commented on #32
@towonzhou yup, and a huge list of other React components on NPM. https://react.parts/web

[2015-11-23 07:12] towonzhou commented on #32
@KyleAMathews nice!

[2015-11-23 08:04] #32 closed

[2015-12-24 09:12] mukeshsoni commented on #25
I have added the dist folder to npm folders. You can require from the generated file in dist folder and not need the less preprocessor.

[2015-12-29 04:29] nadav-dav opened #34 "less-loader is required"
When running my webpack configuration, the build is failing over this line:
`require('../less/default.less');`
Since I do not have `less-loader` in my project, it does not know how to handle `.less` files.

What do you think will be the right solution to this? precompile the css? have it as an external file to include in the project?

I am curious to so learn your opinion about that. Thanks! :D

[2015-12-29 04:42] mukeshsoni commented on #34
This is surely a problem with the output file, which assumes that you need to have a less loader in your build step. Will fix that when i have time.

In the meantime, you can add a less loader in your webpack config file like so -

[code]

[2016-01-07 04:32] mordrax opened #35 "Features request"
This is a fast and compact component but it's missing a few important features such as:

- Can't tell from the callback if the number is valid or not, it just gives me a number.
- No way to pass a number into it via props, the state is defaulted to ''
- Would be nice to have a numbers only format without hyphens, spaces etc

[2016-01-10 05:16] mukeshsoni commented on #35
- good point. will try and get that in.

- is the 'value' prop not working for you?

- valid request again. will try and get that in.

[2016-01-14 01:17] mordra commented on #35
My bad, had a look at the code and it looks fine. I didn't understand what getDefaultProps was doing.

[2016-01-14 05:04] mukeshsoni commented on #35
I too had forgotten that the formatting can be turned off by using the prop `autoFormat: false`.

For checking on which props are supported, you can look at the propTypes object in the source file.

[2016-01-14 14:14] sombro opened #36 "Warning: ReactDOMComponent: Do not access .getDOMNode() of a DOM node"
![image](https://cloud.githubusercontent.com/assets/7949997/12326490/2bd96a8e-bae2-11e5-9818-30ca656f9640.png)

[2016-01-15 04:44] mukeshsoni commented on #36
The component still has react dependency at >- 0.12.*. There is no plan to upgrade to 0.14.* unless those methods are actually removed in a react version.

[2016-01-18 14:43] sombro opened #37 "It is impossible to choose current country from the list"
![vv](https://cloud.githubusercontent.com/assets/7949997/12394129/09fff032-be0b-11e5-981c-01bdda8a6287.gif)

[2016-01-18 14:46] sombro opened #38 "Incorrect manual input of number (if use cmd+A)"
If cmd+A all text from input and then to try enter number "7918", you will receive "9718".
![vv 1](https://cloud.githubusercontent.com/assets/7949997/12394184/5d62350a-be0b-11e5-9ad1-ce49b56066d9.gif)

[2016-01-30 15:15] mukeshsoni commented on #36
fixed in 2.0.1 release

[2016-01-30 15:15] #36 closed

[2016-01-30 15:30] mukeshsoni commented on #37
fixed in 2.0.2

[2016-01-30 15:30] #37 closed

[2016-02-01 09:32] sombro commented on #37
Mukesh Soni , thank you!

[2016-02-01 09:32] sombro commented on #36
Thank you!

[2016-02-01 09:45] sombro opened #39 "Can't choose countries with arrow-buttons"
If I try to move in the list of countries using arrow-buttons , it doesn't work and console says: `Uncaught TypeError: Cannot read property 'setState' of undefined`

[2016-02-01 10:17] mukeshsoni commented on #39
Shit! Thanks for reporting. Fixed in 2.0.4

[2016-02-01 13:41] sombro commented on #39
Thank you! :)

Now works, but in console:
`rollbar.min.js:1 Uncaught TypeError: Cannot read property 'getElement' of undefined`

[2016-02-01 13:43] mukeshsoni commented on #39
that error is from some other component (named rollbar, it seems)

[2016-02-01 13:45] sombro commented on #39
No, such source is because all our application is compiled into one file. Don't watch at it.
This error occures just when use arrow-buttons in telephone-input

[2016-02-01 13:54] mukeshsoni commented on #39
ooo, you are right. Can you check now?

P.S. I need to start writing tests

[2016-02-01 14:00] mukeshsoni commented on #39
2.0.7 is the version to try

[2016-02-01 14:02] sombro commented on #39
Perfect now! *thubsup*

[2016-02-01 14:04] #39 closed

[2016-02-14 03:30] Nemant opened #41 "Unable to resolve module ../less/default.less"
I did an npm install but when importing the module I get the following error:

"Unable to resolve module ../less/default.less from /Users/username/Dev/AwesomeProject/node_modules/react-telephone-input/lib/index.js: Invalid directory /Users/username/Dev/AwesomeProject/node_modules/react-telephone-input/less/default.less"

I checked and all the paths and files exist.

[2016-02-14 03:44] Nemant commented on #41
I'm on react native 0.18.1 and nodejs 5.6

[2016-02-14 03:56] #41 closed

[2016-02-14 03:56] KyleAMathews commented on #41
This module doesn't work on React Native.

On Sat, Feb 13, 2016 at 7:44 PM Danish <notifications@github.com> wrote:

[2016-02-14 04:12] Nemant commented on #41
I suspected that. I tried looking online for a similar component but couldn't find anything. Do you have any suggestions?

[2016-02-14 04:27] KyleAMathews commented on #41
None that I know of. You could try forking this module and replacing the
LESS stylings with react native styles.
On Sat, Feb 13, 2016 at 8:12 PM Danish <notifications@github.com> wrote:

[2016-02-17 10:12] hmeerlo opened #42 "Unusable because of React dependency"
sorry to say but your component is unusable for me (although it looked promising) because it has a direct dependency on react instead of a peerDependency. This makes my app load react twice and it ends up with 'Only a ReactOwner can have refs' errors.

[2016-03-02 10:09] tonygriv opened #43 "What about onBlur?"
Hello!

Awesome component. But what about onBlur event on input?

[2016-03-06 03:51] mukeshsoni commented on #43
Hmm, makes sense. what do you use it for? I wonder why no one asked for it yet.

[2016-03-06 09:40] tonygriv commented on #43
For example we send google analytics event on input blur.

[2016-03-10 05:47] mukeshsoni commented on #43
@tonygriv Can you send a PR for the adding the feature?

[2016-04-03 23:41] dmnd opened #47 "Exclude built files from repo"
Having built files in the repo makes diffs sort of confusing. Have you considered adding those directories to gitignore?

The way I've seen other projects do it is to run a build in prepublish. That way when you publish, you'll be publishing the latest build but don't need it to be checked in.

[2016-04-04 03:38] #34 closed

[2016-04-04 13:29] mukeshsoni commented on #43
@tonygriv Have added onBlur callback prop in 3.1.3

[2016-04-04 13:29] #43 closed

[2016-04-04 13:36] mukeshsoni commented on #47
Have removed the dist folder from repository, now that less file is anyways excluded in the default import.

[2016-04-04 13:36] #47 closed

[2016-04-04 13:37] mukeshsoni commented on #42
@hmeerlo If i make react a peerdependency, what is the downside?

[2016-04-04 13:39] hmeerlo commented on #42
@mukeshsoni There is no real downside, except maybe that the user must explicitly add react as a dependency to his project. But he must do that anyway.

[2016-04-04 13:58] mukeshsoni commented on #42
Cool. Have moved react and react-dom to peerDependencies in ver 3.2.3

[2016-04-04 13:58] #42 closed

[2016-04-04 14:00] mukeshsoni commented on #25
@deepakjois Lessify is no longer required from 3.0.0 onwards. You can require a version of the library with the css by requiring require('react-telephone-input/lib/withStyles'). The default import will import the component without any styles.

[2016-04-04 16:11] deepakjois commented on #25
On Mon, Apr 4, 2016 at 7:30 PM, Mukesh Soni <notifications@github.com>
wrote:

Thank you. I will try it out.

[2016-04-05 03:23] jaredsohn opened #48 "How do I find out which country code was selected?"
I am using this control for Twilio's API which requires that the country code and phone number are passed in as separate parameters.

If I knew what the country code was, I can find both values.

[2016-04-05 03:26] jaredsohn opened #49 "If you do a select all and type a number, the cursor isn't in the right position"
This could be inconvenient for certain typing patterns.

[2016-04-05 04:18] mukeshsoni commented on #49
Duplicate of https://github.com/mukeshsoni/react-telephone-input/issues/38

[2016-04-05 04:18] #49 closed

[2016-04-05 23:14] jaredsohn commented on #48
I have a fix for this; will submit a PR when I get a chance (probably tonight.)

[2016-04-05 23:34] jaredsohn commented on #48
Pull request here: https://github.com/mukeshsoni/react-telephone-input/pull/50

[2016-04-06 00:59] jaredsohn commented on #38
I think this pull request fixes it: https://github.com/mukeshsoni/react-telephone-input/pull/51

However, there are still weird cursor problems when you try to edit a formatted phone number.

[2016-04-06 04:41] mukeshsoni commented on #38
@jaredsohn  What are the weird cases?

[2016-04-06 06:23] jaredsohn commented on #38
If you move the cursor to somewhere in the middle of the number and start typing, the cursor jumps to the end after the first character is entered.  (Fortunately, this situation shouldn't happen too often.)

[2016-04-06 06:52] jaredsohn commented on #48
This pull request adds the selected country to onChange and onBlur: https://github.com/mukeshsoni/react-telephone-input/pull/52

[2016-04-06 08:32] mukeshsoni commented on #48
Available in 3.2.4 release

[2016-04-06 08:32] #48 closed

[2016-04-06 18:36] mukeshsoni opened #53 "replace onclickoutside mixin with an HOC versino"
Can use this HOC -
https://www.npmjs.com/package/react-click-outside

[2016-04-06 20:56] jaredsohn opened #54 "Don't warn if preferredCountries is an array of strings"
I get a warning due to the above line, but it looks like the rest of the code treats preferredCountries as an array of strings.

warning.js:46 Warning: Failed propType: Invalid prop `preferredCountries[0]` of type `string` supplied to `ReactTelephoneInput`, expected `object`

[2016-04-07 04:07] mukeshsoni commented on #54
The `preferredCountries` feature is not working anyways. Need to fix the whole thing.

[2016-04-07 08:49] jaredsohn commented on #54
That feature actually does work (although it ideally would maintain the order); I think you are thinking of onlyCountries being broken. (There is a comment in the code to that effect.)

[2016-04-07 09:43] mukeshsoni commented on #54
Aha! Let me try writing tests for it and check if things are working as expected. I will try and first change the proptype and make a minor release.

[2016-04-13 04:11] ramyaaddanki opened #56 "Provide larger flags image and styles for mobile rendering"
Can someone provide a larger flags image with the corresponding styles changed? The desirable size of each flag is at least 32x22 (double of what is already provided). The current image is too small for mobile.
Thanks!

[2016-04-13 04:19] mukeshsoni commented on #56
You can create your own images and pass the path as a prop. This is not an issue with the component.

[2016-04-13 04:19] #56 closed

[2016-05-05 09:34] timotgl opened #61 "Usage examples in README should mention that preferredCountries is a required prop"
Just saw that `preferredCountries` does not seem to be included in `getDefaultProps` but is referenced here: https://github.com/mukeshsoni/react-telephone-input/blob/master/lib/ReactTelephoneInput.js#L65

[2016-05-05 09:40] msonip commented on #61
Because the preferredCountries implementation is buggy. Didn't want to publish the feature. Will change once it works corretly.

[2016-05-05 12:31] timotgl commented on #61
Ok I understand. Just thought I'd open an issue because I tried to use the component but got an exception and had to provide `preferredCountries ` to make it work.

[2016-05-10 16:39] mbahoshy opened #62 "Initial state w/ redux forms"
Great component! however when using this in conjunction with redux-forms, I am unable to set initialValue of component (it is automatically changing input value to '+'). anyone else run into this problem?

[2016-05-10 17:21] mukeshsoni commented on #62
@mbahoshy are you passing the initial value to 'value' prop?

[2016-05-10 18:53] mukeshsoni commented on #61
@timotgl Can you give details about the exception? stack trace?

[2016-05-10 20:52] mbahoshy commented on #62
When using redux forms to set initialValues, the prop for a field ends up looking something like this
`
{ value: "", initialValue: "(555) 555-5555" }
`

I think that to make it more compatible with redux forms, in your getInitialState function change the first line to something like this ...
`
var inputNumber = this.props.initialValue || this.props.value || '';
`

[2016-05-11 05:52] mukeshsoni commented on #62
Got it. WIll take a look at redux forms first. Thanks!

[2016-05-11 13:02] timotgl commented on #61
@mukeshsoni Simply use the component without passing `preferredCountries` as a prop and the _.any call in the line I referenced above throws an exception since `this.props.preferredCountries` is `undefined`and not iterable.

[2016-05-12 15:16] ColmHally opened #64 "Feature Request: Add an `onFocus` handler to be passed as prop?"
Hi,
At the moment, I have no way of knowing when the user has placed their cursor into the telephone input field. Adding an `onFocus` prop (to complement the already-implemented `onBlur` prop) would allow me to track when the user's cursor enters and leaves the input.

Would it be possible to do this?
I can probably submit a pull request to make this easier.
Regards,
Colm

[2016-05-12 15:22] mukeshsoni commented on #64
I can accept a pull request if you add a test for it. Thanks

[2016-05-12 15:55] ColmHally commented on #64
I'd be happy to add a test but the current tests don't even run!

[2016-05-12 15:56] mukeshsoni commented on #64
:) let me make them run. I will ping you.

[2016-05-12 15:58] ColmHally commented on #64
Ok, thanks man!

[2016-05-12 17:49] mukeshsoni commented on #62
@mbahoshy
I have added it in v3.4.4

[2016-05-12 17:51] mukeshsoni commented on #61
@timotgl in v3.4.4 i have added a default prop for preferredCountries (empty array) and will not throw any exceptions even if you don't pass it.

[2016-05-12 17:51] #61 closed

[2016-05-12 17:51] mukeshsoni commented on #54
@jaredsohn have released v3.4.4 with your pull request. It now expects an array of strings. Thanks!

[2016-05-12 17:51] #54 closed

[2016-05-12 21:19] mbahoshy commented on #62
@mukeshsoni works great with redux forms, thanks!

[2016-05-12 21:19] #62 closed

[2016-05-12 22:01] jaredsohn commented on #54
Thanks!

[2016-05-13 13:22] #64 closed

[2016-05-25 15:54] anilreddykatta opened #66 "when initialValue or Value is changed in the props"
Hi Mukesh,

             When I am initializing component for the first time, I am passing a initialValue to the ReactTelephoneInput and it is populating. You are storing the value I am passing in the state after doing formatting in formattedNumber. Issue is when I changed initialValue after some time, then value stored inside state(which is old initialValue) is shown, but not the new initialValue

[2016-06-08 13:56] samoshkin commented on #66
Being stuck with the same issue. `props.value` is used to compute `formattedNumber` in `getInitialState` function, but then changes to `props.value` have no effect. There is no `componentWillReceiveProps` or other logic to detect `props.value` changes and to recompute `formattedNumber`.

The real use case is that I'm not able to reset my form. Telephone input retains its old value, even if I pass

[2016-06-08 14:52] anilreddykatta commented on #66
Can you add componentWillReceiveProps..which checks for oldValue !== newValue and change accordinly..or you can always call let inputNumber = this.props.value || this.state.value || ''. And then this.state.formattedNumber = this.formatNumber(inputNumber)

Writing inside render should be effective strategy..Always giving preference to props instead of just going for state ?

[2016-06-09 03:06] mukeshsoni commented on #66
@anilreddykatta @samoshkin Will take a look and try out a solution this weekend

[2016-06-20 21:26] franzejr opened #71 "Bug for Jamaican Numbers?"
Hello,

Thanks the library. I think I got a small bug:

+1 876-211-1821

This is an American Number, but it looks like Jamaican... It should be like this?

[2016-06-22 06:48] mukeshsoni commented on #71
looks like jamaican? Is the flag Jamaican? Or should the number be recognized as jamaican?

[2016-06-23 20:28] gdehmlow commented on #38
I'm encountering this problem as well

[2016-06-27 06:02] anilreddykatta commented on #66
@mukeshsoni  Can you respond to this issue ?

[2016-06-27 06:11] jaredsohn commented on #38
A way to solve this would be to move validation to an onBlur event, at least when editing in the middle of the number.

[2016-06-28 02:57] mukeshsoni commented on #66
@anilreddykatta I am not able to take time to look into it right now (due to various other things going on in life) and cannot give you tell you when i might be able to. PRs with tests are welcome!

[2016-07-03 17:38] mukeshsoni commented on #53
upgraded to HOC version

[2016-07-03 17:38] #53 closed

[2016-07-07 14:41] jwzimmer opened #73 "Incorrect flag icons - source for flag icons potentially out of date"
It looks like the source for the flag icons may be out of date - the Tuvalu Islands flag icon seems to be of their [previous flag](http://www.tuvaluislands.com/flags.htm), which was superceded by the current flag in 1997 (so, a pretty long time ago!).

I did not check each flag icon to see if it was correct : ) but finding at least one incorrect flag seems to me to indicate that other flags may be

[2016-07-07 15:14] mukeshsoni commented on #73
Wow, that's a great find! I will see if i can google the latest flags image. In the meantime, if you find one, let me know.

Also, you can use custom image for flags by using `flagsImagePath` prop.

[2016-07-07 15:24] jwzimmer commented on #73
@mukeshsoni Thanks for letting me know about `flagsImagePath`! : )

[2016-07-12 14:03] Borisboky opened #74 "How to get a name of the input"
Hi,

I'm using ReactTelephoneInput.js like a child component. But I would like to validate two input fields with it. I have something like this :

![screen shot 2016-07-12 at 15 58 36](https://cloud.githubusercontent.com/assets/13819165/16769585/9de7778e-4849-11e6-85c1-e3c8e3fbda5d.png)

And it works for mobilePhone field but I would like to implement it for phone field also. In my main component

[2016-07-19 09:58] candyboober opened #75 "How I can use it with requirejs?"
Hi.
I use django, requirejs, gulp and bower in project.
So I try to load this module async like
[code]
and I get an error Uncaught error: Module name .... include require([]);
I try wrap that in r.js -convert, but I get the same error by deps for this plugin.

Thanks for your attention.

[2016-07-19 10:54] milkers opened #76 "Country flags collide when used for multiple lines of phone input."
One pic worths thousand words, one gif worths thousand pics.
![telinputbug](https://cloud.githubusercontent.com/assets/523525/16947525/4100af30-4db8-11e6-8f3a-d3a7e3c294ce.gif)

Thank you for the project by the way :)

[2016-07-19 14:20] noushka86 commented on #73
@mukeshsoni I don't understand where can I get the flags file...? I am new with this...

[2016-07-19 14:58] noushka86 opened #77 "how to pass custom styles ?"
hi,
how can I pass my own class to the component?

[2016-07-20 00:57] mukeshsoni commented on #77
with the classNames prop -

[code]

[2016-07-20 00:57] #77 closed

[2016-07-20 00:58] mukeshsoni commented on #75
@candyboober Can you provide the complete error?

[2016-07-20 01:01] mukeshsoni commented on #74
I didn't fully understand but you might want to look at `isValid` prop. You can pass your validation function to `isValid` prop -

[code]

[2016-07-20 01:02] mukeshsoni opened #78 "Add documentation for other props which can be passed"
The current documentation shows usage of only 4-5 props. Add documentation for other props.

[2016-07-21 14:21] mukeshsoni commented on #66
hi @anilreddykatta, i have cut a release '3.5.0' with the changes in the pull request. Can you verify if it works as discussed in this thread?

[2016-07-22 22:32] anilreddykatta commented on #66
Thanks @mukeshsoni

[2016-07-25 19:15] marr opened #79 "Use with Redux-Form"
Hi, I am trying to use this with redux form (v6) and having some trouble with propagating errors back up to the form component. It appears that no `name` property is set on the inner `input` of this control. In redux-form we pass in a `name` and set it on the input.

My input is defined like this:
[code]

and instantiated like this:
[code]
When I reject the submission with Promise.reject, the erro

[2016-07-25 21:46] atuttle commented on #71
https://en.wikipedia.org/wiki/Area_code_876

If you provide the sample number `+1 876-211-1821` to [the original inspiration](https://github.com/jackocnr/intl-tel-input) for this react component, it also (correctly) interprets this as a Jamaican number.

![image](https://cloud.githubusercontent.com/assets/46990/17118692/bd352078-528f-11e6-8cda-42113d7c66bb.png)

876 is also not on [this list of Un

[2016-07-27 13:19] atuttle commented on #73
As listed in the [Attributions section](https://github.com/jackocnr/intl-tel-input#attributions) of the repo that is the inspiration for this repo, the flags are sourced from [here](https://github.com/behdad/region-flags).

[2016-07-27 22:09] #79 closed

[2016-07-27 22:11] marr opened #80 "Create a display-only version of the component."
It would be nice to have a way to display the formatted phone number for use in a non-edit view.

Would it be possible to export the formatting functionality or a component that would display the formatted number and (optional) country flag?

[2016-07-31 08:36] mukeshsoni commented on #80
@marr That's a good idea. I am trying to change the build process to use webpack first. Will take it after i am through with that.

[2016-08-03 10:52] ellenc345 opened #82 "number flip"
Hey,
when you mark the whole input (including the +) and starting to type a new number
the numbers in places 2 and 3 are jumping to the start of the input.

example: If i type 123
the expected is : +123
what actually happens : +231

Is there a fix for this unwanted behavior?
thanks

[2016-08-03 17:22] jaredsohn commented on #82
Try this: https://github.com/mukeshsoni/react-telephone-input/pull/55

[2016-08-10 15:10] milkers commented on #76
default.less file, line 800 need to be updated as `z-index: 15`.

[2016-09-14 13:22] lauterry commented on #79
Hi @marr

I've a problem using with redux 5.x.x.

When I click on a flag, the flag didn't update and the input still display +.

Have you encountered this issue ?

[2016-09-14 13:22] lauterry commented on #62
Hi @marr

I've a problem using with redux 5.x.x.

When I click on a flag, the flag didn't update and the input still display '+'.

Have you encountered this issue ?

[2016-09-14 14:58] lauterry commented on #62
Hi

I confirm that the line ``` var inputNumber = this.props.initialValue || this.props.value || '';  ``` introduced a new bug.

When you select a flag, the input value do not update with the country prefix.

After removing ```this.props.initialValue || ```, I have been able to correctly initialize the input value.

I'm using redux-form 5.3.2.

I suggest to revert the change please.

[2016-09-21 12:36] emwee opened #84 "Vertical offset is off when opening the country list"
When I open the country list, the list should jump to the selected country based on the inputted country number, but the vertical offset is off as can be seen in the screenshot below. First I thought this was caused by some custom styling I added but I have removed all custom styling and the issue remains.

My code looks as follows:

[code]

![screen shot 2016-09-21 at 2 34 42 pm](https://cloud.gi

[2016-09-28 09:04] Borisboky commented on #74
I have a form where I have two numbers with the different format.

![screen shot 2016-09-28 at 10 57 26](https://cloud.githubusercontent.com/assets/13819165/18907085/80985000-856a-11e6-8956-dfcf3ae2cd7c.png)

First field (phone) has format +32 9 266 22 22 and the second field (mobile) has format
+32 486 33 22 22 .

In the country_data.js file there is only one format for Belgium

[code]

Thus, tha

[2016-10-04 18:25] marr commented on #80
any movement on this?

[2016-10-05 09:02] mukeshsoni commented on #80
@marr  Nope. One workaround is to pass a className and then write css so which disables the textbox and removes the borders so that it looks like a non editable label

[2016-10-10 05:22] mukeshsoni commented on #84
@emwee I can reproduce it in my local environment nor on the demo page - http://unstack.in/react-telephone-input/

can you give a link to a page? Looks like a css issue.

[2016-10-10 05:42] mukeshsoni commented on #62
@lauterry I can't remove the initialValue prop now since others might be dependent on it. Need to fix the bug keeping the initialValue prop intact instead

[2016-10-10 12:54] mukeshsoni commented on #75
Closing due to lack of data.

[2016-10-10 12:54] #75 closed

[2016-10-10 13:00] mukeshsoni commented on #28
Fixed in 3.6.0 release

[2016-10-10 13:00] #28 closed

[2016-10-10 13:23] #66 closed

[2016-10-10 13:31] mukeshsoni commented on #38
Fixed in 3.6.2 with @jaredsohn's PR. Thanks @jaredsohn !

[2016-10-10 13:31] #38 closed

[2016-10-10 13:34] mukeshsoni commented on #82
Fixed in 3.6.2 with @jaredsohn's PR. Thanks @jaredsohn !

[2016-10-10 13:34] #82 closed

[2016-10-10 13:39] mukeshsoni commented on #76
Fixed in 3.6.3 release. Thanks @milkers

[2016-10-10 13:39] #76 closed

[2016-10-10 13:41] mukeshsoni commented on #35
2 and 3 are already there. I just didn't realise it.

For (1), i.e. to check if a number is valid or not, you can directly call isNumberValid method on the component. E.g. usage -

[code]

[2016-10-10 13:41] #35 closed

[2016-10-10 16:46] mukeshsoni commented on #74
It is not supported in the current version. Will label as enhancement.

[2016-10-10 16:57] mukeshsoni commented on #71
@franzejr is it a valid US number?

[2016-10-11 09:38] iam4x opened #89 "file `country_data.js` is missing from npm (~3.7.0)"
I'm sad since https://github.com/mukeshsoni/react-telephone-input/commit/1414df797b3b7505b1e582ac2f938480af411b05 is a minor update but breaks my build. Should have been pushed with v4.0.0 tag? (I'm here to ask also)

Also it was hard to find out what changes because master does not reflect last version tag :(

[2016-10-11 09:57] mukeshsoni commented on #89
The change was that i removed the country_data file and moved it to it's own repo. Don't know how that broke your build but will revert it and push it as a major upgrade.

[2016-10-11 10:01] mukeshsoni commented on #89
@iam4x Have reverted the country data file in 3.7.1. Let me know if it works on path upgrade for you.

[2016-10-11 10:03] iam4x commented on #89
I use the file `country_data.js` for validating phone number for only the countries we supports on our service:

[code]

Thank's @mukeshsoni 👍

[2016-10-11 10:03] #89 closed

[2016-10-11 10:08] mukeshsoni commented on #89
@iam4x  Aha! I suspected people use the country data for other stuff, so forked it into it's own package. Let me know if you face any issues using `country-telephone-data` package. Till today i was the only one using it (and now it's only you :))

[2016-10-13 03:32] Uthpala opened #90 "The value does not get added to the Redux Form v6."

[2016-10-13 12:23] mukeshsoni commented on #90
@Uthpala Can you please provide details? A working example with code would be awesome

[2016-10-13 17:39] erikras commented on #90
The way you would do it is:
[code]
and then
[code]
But when I try that, it doesn't work the way I would expect it to. Redux Form registers each change properly and passes in the current value, but it seems like `react-telephone-input` isn't prepared to be a "controlled" input which gets an updated `value` prop on every change. 😕

[2016-10-13 17:53] mukeshsoni commented on #90
So it comes via the `value` prop?

[2016-10-13 18:07] Uthpala commented on #90
The redux form passes the value prop to the ReactTelInput but the issue here is that it doesn't get updated. It is not a controlled input.

All that should be done is to make the <ReactTelInput > use the value prop as its value. Not something else. Once that is done it work with redux form.

[2016-10-13 18:09] mukeshsoni commented on #90
it is being used (https://github.com/mukeshsoni/react-telephone-input/blob/master/src/ReactTelephoneInput.js#L355), but i guess not in the correct way. Will try to fix it tomorrow.

[2016-10-13 18:12] mukeshsoni commented on #90
@Uthpala Can you test out version 3.7.2 and let me know if that works?

[2016-10-13 18:13] Uthpala commented on #90
@mukeshsoni Sure will do. But I can only do it in another 8 or 9 hours. I will post the results here once i do. Thanks

[2016-10-13 21:33] msaglietto commented on #90
Nice that was a quick response .. but it may caused some issues  ..

I have a form working with version 3.5.0 but after running npm install (well yarn) it installed the 3.7.2 (it was set as ^) and now when you do on blur in the component the field get cleared

I debugged the code and I can see this on the code you posted:
[code]
What is happening props.value is === this.props.value  (it get update

[2016-10-13 23:16] gbrassey commented on #90
I'm having similar issues with v3.7.2 and redux-form v5.3.
[code]

Seems like this is killing the inputNumber when the value and initialValue props don't change but other props do — like onBlur. Should the final else just return without changing state?

[2016-10-13 23:35] mukeshsoni commented on #90
@msaglietto @gbrassey
Yeah, that piece of code is not thought out well.

If something is a controlled component, it will have a `value` set on props.

One solution could be changing the first check to `if(props.value) { inputNumber = props.value }`

Another could be to not call the same _mapStateToProps in both `getInitialState` and `componentWillReceiveProps`. Makes the checks a little more trick

[2016-10-13 23:43] mukeshsoni commented on #90
How about this?

[code]

[2016-10-13 23:57] mukeshsoni commented on #90
I have cut a release (3.7.3) with the above code. I should probably write a test for controlled component scenario but don't know a good way to do that too ⭕️

[2016-10-14 04:31] Uthpala commented on #90
Thanks mate just tried out v3.7.3 and it works

Cheers.

[2016-10-14 11:10] mukeshsoni commented on #90
Cheers @Uthpala

[2016-10-14 11:10] #90 closed

[2016-10-14 16:40] gbrassey opened #92 "Selecting the current country when input is blank does not populate the country code"
I just noticed that when a form is empty (either the user removes the input value, or it's a controlled component and initialValue is empty), selecting the current country does not add the country code.

Seems like if a user deletes all the content and then reselects the current country, for example 'United States', it should populate the input with `+1`.

Add a check [here](https://github.com/muk

[2016-10-14 18:26] Ral15 commented on #25
I still get this problem,

`Browserify Failed!: Cannot find module 'lessify'  from '/<myproject>/node_modules/react-telephone-input'`

[2016-10-15 00:53] msaglietto commented on #90
It worked for me too .. thanks =)

[2016-10-18 12:35] jurgenzz opened #95 "Add number formating"
Should we implement functionality, where you can choose the formatting?
At the moment only option - for example for US
`+1 (800) 123-1234`

Should we add options for:

`+1 800-123-1234`and `+1 800 123 1234`

A simple regex will do the trick (tested locally already)

[2016-10-18 12:38] mukeshsoni commented on #95
No one has ever asked for such a feature. Don't know what percentage would have this use case.

[2016-10-18 12:42] jurgenzz commented on #95
Well, our company work on few different projects for different regions and they like to show different formatting for each one of them. We have a local solution for it at the moment, just checking in if anyone else needs it.

[2016-10-18 12:46] mukeshsoni commented on #95
There is a way you can do it in current setup. You can require the countries from country data -

[code]

[2016-10-18 14:56] emwee commented on #84
@mukeshsoni I managed to reproduce it by setting the body font size to 16px instead of 14px. Will try to create an isolated example later this week!

[2016-10-19 15:53] ateyssandier opened #96 "add max length prop"
Users should be able to limit the length of the input number for display/api purposes. Add optional param for max length of input.

-1 if infinite length is allowed

Have this working locally. Can put in a Pull Request.

[2016-10-19 16:18] mukeshsoni commented on #96
But why would you want infinite length telephone number?

[2016-10-19 17:06] ateyssandier commented on #96
Currently that's what is allowed without the maxLength property.
Default value could also be set to something more reasonable. fifteen? twenty? per here: https://en.wikipedia.org/wiki/Telephone_numbering_plan#International_numbering_plan

[2016-10-20 01:21] mukeshsoni commented on #96
Putting these types of restrictions on form elements always come to bite you back. You will anyways knows if the number is not valid. My earlier question was not phrased correctly. What i wanted to ask is "why would the user input infinite length number?". Is there a security vulnerability or does it fail any edge case test scenario?

[2016-10-20 14:32] ateyssandier commented on #96
As a rule, users don't always do the right thing. Accidentally copy and pasting a hugely long number for instance. The input currently prohibits the user from inputting non numeric characters in a similar manner, and it seems like adding an (optional) parameter to fail early on validating phone numbers that are too long is a good feature.

[2016-10-20 17:51] ricardovj commented on #96
👍

A "normal" user would NEVER want to input an infinite length number. A rogue user can currently come in and paste 1MB worth of plain text numbers in an attempt to find vulnerabilities in your service.

[2016-10-20 17:55] mukeshsoni commented on #96
@ateyssandier The chance of a user typing a non numeric character is much bigger than a user copy pasting a huge string. I would wait on this one until i see a number of people wanting it.

@ricardovj
If there are vulnerabilities, you are better off finding them.

[2016-10-22 13:42] #96 closed

[2016-10-22 13:43] mukeshsoni commented on #95
@jurgenzz You can close this issue if the above approach solves your use case.

[2016-10-24 07:35] jurgenzz commented on #95
hey, sorry for late answer:
it works, but it breaks here:

[code]

as country now differs from this.props.onlyCountries, for example, US due to different format

[2016-10-24 13:04] emwee commented on #84
Ok finally I managed to reproduce the issue! It breaks when the array for `preferredCountries` contains 6 entries! Can you try this?

<img width="232" alt="screen shot 2016-10-24 at 3 06 09 pm" src="https://cloud.githubusercontent.com/assets/1688057/19646726/1e447dc0-99fb-11e6-9cd7-cee2a3ac444a.png">

Otherwise you can try to check out https://github.com/emwee/react-intl-phone-y-offset, run `npm i

[2016-10-25 02:10] mukeshsoni commented on #84
Thanks! Will take a look

[2016-10-25 09:46] 40818419 commented on #92
+1

[2016-10-28 21:26] SA21 opened #98 "Missing id-causing Accessibility issue"
The input does not have id attribute.Causing missing label issue for WCAG 2.0 Accessibility.

Ex: Form..has mobile,home and work telephone input fields...on a page:
This can cause missing labels as there is no corresponding input(not complaint with WCAG 2.0 Accessibility)

Please fix it..Thank you!

opened a PR,could you please review it.

[2016-10-31 19:22] SA21 commented on #98
solved..

[2016-10-31 19:22] #98 closed

[2016-11-03 04:51] avinanda opened #101 "EventPluginRegistry Error when declaring within the render"
Hello,

I am new in the react native world so this might be a silly mistake from my part but I keep getting the error: "Cannot inject event plugin more than once." when declaring within the render method. I did npm install and have the library in my node_modules folder. Do you know how I can resolve this issue ? Thank you in advance!

render(){
        **var ReactTelInput = require('react-telephon

[2016-11-06 06:18] mukeshsoni commented on #101
Hi @avinanda, i do not have enough experience with react native to help you out here. Seems like a react native specific thing. I did once see a similar component built specifically for react native.

[2016-11-07 15:31] benjamindulau opened #102 "Consider manipulating internal value as e164"
I think it could be interesting to manipulate the internal phone number value as an e164 compliant string and use localized formatting only for display.

In almost every project (at least in mine) the server expects e164 values for phone numbers. So it would be really convenient if the onChange callback could optionally receive directly a value as e164 :)

Thoughts?

[2016-11-16 22:08] LennyBoyatzis commented on #25
Firstly, thanks @mukeshsoni for this component!

Secondly, +1 on this issue even with requiring 'react-telephone-input/lib/withStyles'. @mukeshsoni @deepakjois any thoughts?

[2016-11-22 03:28] jmaitrehenry opened #103 "When typing CA number, flag switches to US"
Hi,

Each time I click on Canada flag, the US flag take place. How can I choose canada? I tested it with  react-telephone-input 3.5+ and 3.7+

My phone field:
[code]
Thanks

[2016-11-24 10:39] jurgenzz commented on #103
This is a "memoize" ~~issue~~, as it saves "+1" country code in memory as US. If you typed, for example, +1 403 (iso + area code), at the moment the flag should change to CA (haven't checked current version, i have it little bit modified on my environment).

I'd say we should get rid of memoize there at all (guessSelectedCountry). But yes, i have the same issue and don't really like it.

[2016-11-24 10:58] mukeshsoni commented on #103
@jurgenzz Aha! Maybe we should use memoize from npm (https://www.npmjs.com/package/memoizee)). Lodash's memoize only memoizes on one parameter.

[2016-11-24 11:03] mukeshsoni commented on #103
scratch that. That memoization is on a single param only.

[2016-12-05 13:43] jonatansberg opened #105 "Country selector not usable on mobile"
![3oz8xoeky5wb4xi21g](https://cloud.githubusercontent.com/assets/58557/20886920/b1aa2182-baf8-11e6-9ce1-1f2df87b35df.gif)

**Problem:**
The country selector is more or less useless on mobile.

**Preferred solution:**
Use a selectbox replacement that looks good on desktop and opens the native select interface on mobile.

[2016-12-05 14:28] mukeshsoni commented on #105
@mrlundis Do you have any suggestions for select box?

[2016-12-05 14:48] mrlundis commented on #105
I did some quick googling earlier, and I was unfortunately unable to find a good react lib for this.

A relatively easy solution would be to:
- render a normal select box for mobile users
- hide it visually using css
- trigger focus once the user clicks the flag icon

Earlier versions of `intl-tel-input`used to do something like this, but I cannot reproduce it in their current release version. The

[2016-12-07 02:51] jooj123 commented on #25
This is still an issue for me +1
Its because of the lessify transform in `package.json` - i think the transform should only be applied as part of the build process?

[2016-12-14 17:50] hynese commented on #35
I can't get the validation to work...

[code]

`Uncaught TypeError: _reactTelephoneInput2.default.isNumberValid is not a function`

[2016-12-15 05:28] mukeshsoni commented on #35
@hynese Can you try `isValid`?

[code]

[2016-12-15 22:37] hynese commented on #35
I just did that:

`generated.js:31049 Uncaught TypeError: _reactTelephoneInput2.default.isNumberValid is not a function`

[2016-12-18 10:21] hynese commented on #35
I'm still struggling with this...

I'm doing:

`import ReactTelephoneInput from 'react-telephone-input'`

And then I do:

[code]

Yet all I see is this error:
[code]

[2016-12-19 04:50] mukeshsoni commented on #35
@hynese My mistake. It's actually set to the prop `isValid`. So, you can either pass a function reference to `isValid` prop to use your own validation function. If you don't have any, you can use the one we have in the component -

[code]

Should work. Let me know if it doesn't.

[2016-12-19 19:39] hynese commented on #35
Does this mean it's only checking based on the number starting with the country code?

Why not check the phone number is valid according to the number mask?

[code]

[2016-12-23 22:04] halt-hammerzeit commented on #102
Check out `react-phone-number-input`: it manipulates value as an e164 compliant string
http://halt-hammerzeit.github.io/react-phone-number-input/
And tell me what you think.

[2016-12-23 22:41] halt-hammerzeit commented on #105
I would suggest that inputting a country name is better that scrolling that giant list on a mobile.
You may also consider an alternative React component:
http://halt-hammerzeit.github.io/react-phone-number-input/
It is kinda slow on my iPhone, but maybe I'll look into that later.

[2017-01-04 13:18] skrywus opened #106 "Can't turn off autoComplete"
`autoComplete: 'tel',`
Should be possible to set this option as "off".

[2017-01-09 05:08] Pranav1210 opened #107 "Can't display hint text"
I can't show hint text for user. Input has a placeholder

http://www.w3schools.com/tags/att_input_placeholder.asp

[2017-01-30 05:10] msonip commented on #107
Thanks for the bug report. For some reason, i am taking the place holder from the state. Will be fixed in the next release

[2017-01-30 05:30] msonip commented on #106
Hi @skrywus. Thanks for the input. Will add that ability in the next release. Will keep you posted.

[2017-01-30 06:05] mukeshsoni commented on #106
Hi @skrywus. Thanks for the input. Will add that ability in the next release. Will keep you posted.

[2017-01-30 14:30] mukeshsoni commented on #103
@jmaitrehenry I have removed the memoize wrapper for guessSelectedCountry now. But have not made a release. Can you please pull the latest code and check it out?

[2017-02-09 06:26] mukeshsoni commented on #106
@skrywus You can pass the `autoComplete` prop in v4.0.1

[2017-02-09 06:26] #106 closed

[2017-02-09 06:27] mukeshsoni commented on #103
@jmaitrehenry @jurgenzz
I have removed memoize in v4.0.1.

[2017-02-09 06:27] #103 closed

[2017-02-13 11:31] Zwem opened #111 "Add key prop"
Add please key prop. It need when you use array of react-telephone-input. Thank you

[2017-02-13 12:26] mukeshsoni commented on #111
what if you wrap each call to ReactTelephoneInput in an empty div and pass key to that?

[code]

[2017-02-13 12:42] Zwem commented on #111
@mukeshsoni  yes, i have code like this, but i think better if i have possibility use prop

[2017-03-09 16:49] reyesreg opened #113 "Automatically detect country based on location"
Been looking at old issues and PRs and this hasn't been asked yet. How can we get default country using user's location?

[2017-03-10 03:50] neekey commented on #113
@reyesreg my opinion, it shouldn't be this component's concern

[2017-03-10 05:08] mukeshsoni commented on #113
agree with @neekey . Making the component too smart introduces unnecessary complexity which is better taken care of at the site of consumption (whoever uses the component).

[2017-03-15 13:49] ravinsomi opened #114 "how do we know whether the input is valid?"

[2017-03-15 13:56] anshulsahni opened #115 "Validation is not working probably"
I just analysed the code and realised that `invalid-number` class is not provided to input element used inside the component

[2017-03-23 18:17] jennyscript-ridecell opened #117 "Cannot clear the field by setting value to null"
I've created a PR with a test for this issue https://github.com/mukeshsoni/react-telephone-input/pull/116

[2017-03-27 19:37] SA21 opened #118 "numbers are typed in randomnly -samsung galaxy s7"
Hi,
we are using react-telephone-input ,and when we type in the numbers in phone field on galaxy s7, the numbers are typed in randomly.

Expected result: +1(567) 089-9005
Actual Result: +1(765)089-5009

Can anyone help me on this?

 Note: chrome browser and any samsung device

[2017-04-20 08:18] Pave91 opened #119 "Update package on ES6 syntax"
Warning: ReactTelephoneInput: React.createClass is deprecated and will be removed in version 16. Use plain JavaScript classes instead.

[2017-04-20 09:13] mukeshsoni commented on #119
@Pave91 Will add to list of next release. Thanks!

[2017-04-24 21:56] mattgi commented on #119
related to React upgrade will be, `Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.`

[2017-04-26 13:08] Nopzen opened #120 "bug? classNames dose not transfer classNames to input"
Hello Dev Team,

Is it intentional that the `classNames` prop *don't* put the given `classNames` to the `<input>` field rather than the `<div>` element that wraps the `<input>`.

In my case this conflicts with me setting error on the `<input>` field, and i would just like to know if this a bug or reality?

[2017-04-26 14:34] mukeshsoni commented on #120
We set a class named `invalid-number` on the input box when the input is invalid. You can write a css rule for that selector.

[2017-04-26 14:55] Nopzen commented on #120
Okay, cool beans :)

[2017-05-12 20:47] ryannealmes opened #121 "Getting id from change event"
Looking at the demo code, how would one go about getting the id of the input being changed.

[code]
The reason I ask is I have multiple telephone controls on my page and I don't want to have to duplicate the onChange methods if possible. Is there a way to have one onChange event for multiple reactTelInput controls?

Thanks

[2017-05-13 06:25] mukeshsoni commented on #121
You can attach an id yourself to the onChange handler by binding it -

[code]

Now the onChange callback would get the id as the first parameter -

[code]

[2017-05-13 06:28] jurgenzz commented on #121
Or with a better syntax:
[code]

[2017-05-13 14:11] #121 closed

[2017-05-16 09:43] mattgi commented on #119
@mukeshsoni do you have an ETA on the next release? Thanks.

[2017-05-16 10:50] mukeshsoni commented on #119
I was trying to change the build and publish process some time back and I want to finish that before making the next release.

I will try and make a release in the next 2 weeks. Fingers crossed.

[2017-05-16 23:00] mattgi commented on #119
Awesome, thanks for the update. appreciated.

[2017-05-26 16:42] newswim commented on #119
Let me know if I can help with anything! This package fits perfectly with a project I'm doing at work.

[2017-05-26 16:44] newswim commented on #113
There appears to be a default prop:

[code]

[2017-05-26 18:32] mukeshsoni commented on #119
@newswim Thanks for the offer! You can try and take a lot into any of the open issues and send me a PR

[2017-05-26 18:35] mukeshsoni commented on #113
@newswim that prop still needs user input (the component user) to set the default country. What @reyesreg needs is that the component pick the country by detecting user's location

[2017-05-26 19:10] newswim commented on #113
Ah right, my fault for not reading the entire issue!

[2017-05-26 19:12] newswim commented on #118
I recently got an S7 and will test this out.

[2017-05-26 19:24] newswim commented on #113
This doesn't look terribly difficult to do with the Geolocation api and a call to google to get the country.

https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation

[2017-05-26 19:25] newswim commented on #113
Oh, except that it only works in Chrome :(

[2017-05-26 19:30] mukeshsoni commented on #113
yeah, this one should not be this component's concern. No point doing too much. I will close this.

[2017-05-26 19:30] #113 closed

[2017-05-28 21:12] SA21 commented on #118
Let me know if that works for you..Thanks

[2017-06-04 09:34] MaxInMoon commented on #118
@newswim any news on it?

[2017-06-04 09:42] MaxInMoon commented on #92
Works for me with a regular `MobilePhone` field, used with redux-form.

Did you tried to trigger your `onChange` action on `onBlur` handler?

[code]

[2017-06-04 16:40] newswim commented on #118
Apologies, I haven't actually gotten the phone yet -- should be receiving it in the next couple of days.

[2017-06-05 18:25] MaxInMoon commented on #105
Css did the trick for me.  It gives a elegant full view, and seems very suitable on small screens, if you accept that the only way to close is to select a country.

[code]

[2017-06-07 12:14] oztek22 opened #122 "put focus at the end of an input"
I want to move cursor to end of the textbox on focus of ReactTelInput.
Couln't find possible solution so posting an issue here.

anyone please help me with this.

[2017-06-09 04:31] dorinaaaaalin opened #123 "npm start doesnt work"
$ npm start
npm ERR! Windows_NT 10.0.15063
npm ERR! argv "c:\\node-v6.10.3-win-x64\\node.exe" "c:\\node-v6.10.3-win-x64\\node_modules\\npm\\bin\\npm-cli.js" "start"
npm ERR! node v6.10.3
npm ERR! npm  v3.10.10

npm ERR! missing script: start
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     <https://github.com/npm/npm/issues>

npm ERR! Please include the following file

[2017-06-12 07:24] kishankhakhar opened #125 "setSelectionRange function not working as expected in safari"
The setSelectionRange in the **._cursorToEnd** should point the cursor/caret at the end as it has both the **input parameters** as **len.**
but in safari it selects the whole text everytime when ._cursorToEnd method is called.
Please look into it.

[2017-06-12 07:29] #125 closed

[2017-06-27 05:02] #123 closed

[2017-06-27 05:03] mukeshsoni commented on #123
@dorinaaaaalin did you find out what the problem was?

[2017-06-28 00:23] chrisbrooks opened #128 "onlyCountries doesn't work."
Hi, Trying to add the onlyCountries using the below but this doesn't work and just adds undefined in the list. Have attached screen shot.

<PhoneInput
      initialValue={defaultNumber}
      defaultCountry={defaultCountry}
      preferredCountries={preferredCountries}
      onlyCountries={['au', 'nz']}
      flagsImagePath={flagsImagePath}
      classNames={classNames}
      onChange={country =>

[2017-06-28 05:03] mukeshsoni commented on #128
allCountries takes an array of objects. Look at `allCountries` structure in this file https://github.com/mukeshsoni/country-telephone-data/blob/master/country_telephone_data.js

[2017-06-28 16:36] ateyssandier commented on #128
There's currently a todo to fix this.

https://github.com/mukeshsoni/react-telephone-input/blob/master/lib/ReactTelephoneInput.js#L3

I'm working on a fix for this currently.

[2017-06-28 19:30] ateyssandier opened #130 "npmStart doesn't work"
It looks like the `start` command was removed from `package.json` and you can no longer run locally

[2017-06-28 20:44] ateyssandier commented on #128
Added a PR for this, up to @mukeshsoni  to merge. I no longer need this fix so I will not be tracking this issue. https://github.com/ateyssandier/react-telephone-input/pull/1

[2017-06-29 04:23] mukeshsoni commented on #130
@ateyssandier yeah, it previously depended on `react-component-gulp-tasks` package which didn't work with webpack and was making it difficult for me to use enzyme (because of some dependency clash). I realized that `react-component-gulp-tasks` was anyways too much for my requirements and wanted to simplify the process. I took care of it partially and never got down to update the `start` command an

[2017-06-29 16:58] newswim opened #132 "Cut a new release"
Hey @mukeshsoni,

Looks like the last few releases fixed the deprecation warnings that people on React > v15 have been getting. Do you have some time to create a new release? I don't see it breaking anything.

[2017-06-29 16:59] mukeshsoni commented on #132
yeah, I just wish there were exhaustive tests. I am away from this project for such long periods of time that I forget what to test manually before each release. Will try to cut a minor release tomorrow.

[2017-06-29 17:27] newswim commented on #132
That would be great. Thank you :-)

[2017-06-30 09:07] mukeshsoni commented on #132
I have cut a new release 4.1.1. Check it out.

[2017-06-30 09:13] mukeshsoni commented on #122
You can put a ref and do it using regular DOM manipulation in componentDidMount

[2017-06-30 09:13] #122 closed

[2017-06-30 09:14] mukeshsoni commented on #111
I still think adding key is left to the consumer of the component. Closing this one.

[2017-06-30 09:14] #111 closed

[2017-06-30 09:15] mukeshsoni commented on #115
@anshulsahni Can you give more details about the issue? I will wait for a day and then close it.

[2017-06-30 19:23] #132 closed

[2017-06-30 22:31] newswim commented on #132
Works great! I only had to update one snapshot test, and the deprecation warning is gone. Thank you!!! 🍰 🍰

[2017-07-03 10:42] ktusharprdxn opened #133 "Country code gets appended one after another."
When we select country code from dropdown, it is getting appended one after another. You can simply replicate this issue here http://unstack.in/react-telephone-input/

[2017-07-03 10:59] mukeshsoni commented on #133
The link you have given has a very old version of the component. I am yet to update it. Please try it in your local environment or give me a link which has the latest component.

[2017-07-03 11:33] ktusharprdxn commented on #133
@mukeshsoni I am able to replicate this issue on my local setup, here are the steps to replicate this issue:
click on U.S. vergins island and then click on another country it will get appended because when we have 4 digit country code it is displaying as +1 (169.

Let me know if you have any queries. Thanks

[2017-07-03 12:39] mukeshsoni commented on #133
Can you please point me to a repository which i can clone and try out?

[2017-07-03 13:34] ktusharprdxn commented on #133
@mukeshsoni I can't share code due to some reasons.

[2017-07-04 04:59] mukeshsoni commented on #133
give me a video or a gif at the least

[2017-07-04 07:52] ktusharprdxn commented on #133
@mukeshsoni here is a video reference: https://drive.google.com/open?id=0B8zNahpyqyKoTEZrTmtXNDBobTA

[2017-07-05 05:36] ktusharprdxn commented on #133
@mukeshsoni Did you reviewed video?

[2017-07-05 05:51] mukeshsoni commented on #133
No, don't have the time. PRs are welcome.

[2017-07-05 23:51] chrisbrooks commented on #128
Hi, I have updated to use an array of arrays like in your example @mukeshsoni but this still doesn't work. onlyCountries={[['au'], ['nz']]}. Is this still incorrect? Thanks

[2017-07-06 08:59] mukeshsoni commented on #128
I did not say it's an array of arrays. I said you can get the structure here https://github.com/mukeshsoni/country-telephone-data/blob/master/country_telephone_data.js

[2017-07-06 12:01] Marcsimm opened #134 "Css is not working making it look ugly"
I npm insatlled the package and applied to a component like this

[code]

but when i test it in the browser and look in the element the css is not there.

[2017-07-06 16:42] mukeshsoni commented on #134
You need to import 'react-telephone-input/withStyles'

[2017-07-11 07:58] abdelwahebmoalla opened #135 "dropdown button of countries dosen't work!!"
Here is my code it might be my mistake i am still new to react

import { ReactTelephoneInput } from "react-telephone-input/lib/withStyles";

Inside render

<ReactTelephoneInput defaultCountry="us" flagsImagePath='../img/flags.png'
                    onChange={this.handleInputChange} onBlur={this.handleInputBlur}
                    />

I used the image you told us to use.

[2017-07-11 08:01] mukeshsoni commented on #135
You don't need the brackets for the import

[code]

[2017-07-11 08:16] abdelwahebmoalla commented on #135
still same problem
this my code inside render
<ReactTelephoneInput defaultCountry="us" flagsImagePath="../img/flags.png"
                    onChange={this.handleInputChange} onBlur={this.handleInputBlur}
                    />

[2017-07-11 08:16] abdelwahebmoalla commented on #135
ReactTelephoneInput defaultCountry="us" flagsImagePath="../img/flags.png"
                    onChange={this.handleInputChange} onBlur={this.handleInputBlur}

[2017-07-11 08:17] abdelwahebmoalla commented on #135
i am sure of the path of the image

[2017-07-11 08:17] mukeshsoni commented on #135
What was the problem? Can I get the error you get?

[2017-07-11 08:19] abdelwahebmoalla commented on #135
ReactTelephoneInput.js:148 GET http://localhost:5000/img/flags.png 404 (Not Found)

[2017-07-11 08:25] mukeshsoni commented on #135
Did you copy the image to `img` folder in your root?

[2017-07-11 08:25] mukeshsoni commented on #135
You are making me debug a problem you have with your server setup. I advice you to take it to stackoverflow.

[2017-07-11 14:20] MitchEnfield commented on #128
I believe I've got it working.  An example would be:
[code]

[2017-07-11 16:04] ktusharprdxn commented on #133
@mukeshsoni Can you please provide the steps that how would you expect PR from contributers? As I have seen there is no npm start command there in package.json I can't start server and make changes due to this.

[2017-07-12 05:13] #135 closed

[2017-07-12 05:14] mukeshsoni commented on #133
@ktusharprdxn i am planning to use [nwb](https://github.com/insin/nwb) for the complete setup

[2017-07-12 18:33] #134 closed

[2017-07-12 18:36] mukeshsoni commented on #133
@ktusharprdxn I have added back support for `npm start`. It will now start a server on `localhost:3000` and you can test all changes to src/ReactTelephoneInput.js there.

[2017-07-12 18:37] mukeshsoni commented on #130
@ateyssandier I have fixed the `npm start` problem. It will now start a server on `localhost:3000` and you can test all changes to src/ReactTelephoneInput.js there.

[2017-07-12 18:37] #130 closed

[2017-07-12 18:37] mukeshsoni commented on #119
The lasest version has taken care of the deprecation warnings.

[2017-07-12 18:37] #119 closed

[2017-07-12 18:38] mukeshsoni commented on #128
Glad you figured it out. Closing the issue.

[2017-07-12 18:38] #128 closed

[2017-07-12 18:39] mukeshsoni commented on #25
There is no direct dependency on `lessify` in the current release.

[2017-07-12 18:39] #25 closed

[2017-07-12 18:41] mukeshsoni commented on #92
@gbrassey can you attach a video or a gif for this one? I could not reproduce it.

[2017-07-13 00:47] gbrassey commented on #92
I no longer work on the project that uses this library. Happy to close unless somebody else can replicate.

[2017-07-13 03:15] mukeshsoni commented on #92
I will wait for the other person, if any, to reopen it or create a new issue.

[2017-07-13 03:15] #92 closed

[2017-07-13 09:02] mukeshsoni commented on #118
@SA21 did you find a fix?

[2017-07-13 09:04] mukeshsoni commented on #117
@jennyscript-ridecell Can you verify if it works in the latest release?

[2017-07-13 09:04] #115 closed

[2017-07-13 09:06] mukeshsoni commented on #107
@Pranav1210 Has been fixed in v4.1.1. Can you please verify?

[2017-07-13 09:06] #107 closed

[2017-07-13 09:06] #114 closed

[2017-07-13 15:00] SA21 commented on #118
Not yet. We are still having issues.

[2017-07-13 15:59] mukeshsoni commented on #118
@SA21 can you share a gif or a video of the issue?

[2017-07-17 21:12] ekwalker commented on #118
We have noticed the same issue lately on Android phones using Chrome.  I've seen a few other reports to issues with cursor positioning on Android Chrome in the past few months as well.  Here's one such issue, and their workaround: https://github.com/necolas/react-native-web/pull/492

[2017-07-18 04:39] mukeshsoni commented on #118
@ekwalker Thank you for putting up the link to the browser bug as well as the video.

So is it a bug with the browser even in the case of the S7 phone?

[2017-07-18 17:33] ekwalker commented on #118
@mukeshsoni Yes, I believe it's a bug specific to Android OS using Chrome, where setSelectionRange does not behave properly.

[2017-07-19 06:30] Si1kIfY opened #136 "createClass deprecation -> react-onclickoutside dependency"
[code]

Would suggest updating dependency of react-onclickoutside to `6.4.0` to suppress this warning

[2017-07-19 20:40] ekwalker commented on #118
After digging in more, it actually doesn't seem to be related to setSelectionRange.  The bug occurs every time the number is re-formatted via the pattern passed in to formatNumber.

For example, if the input currently says "+12" and I type in "3", the 3 will go in correctly as "+12 3", but the cursor position will remain before the 3.  So then if you input "4", you will now have "+12 43", which is

[2017-07-20 05:19] mukeshsoni commented on #118
But if it works on desktop, that means it is not a problem with `formatNumber` function but a problem with DOM API in the mobile browser, right?

[2017-07-25 19:04] omrihq commented on #35
Has this been addressed?

[2017-07-25 19:15] omrihq commented on #120
Is the only way to style input is to style invalid-number?

[2017-07-25 19:18] omrihq opened #138 "Is it possible to style the actual input form-control?"
`classNames` does not style the actual input

[2017-07-26 03:40] mukeshsoni commented on #138
You can always write a css rule like this -

[code]

[2017-07-26 03:40] #138 closed

[2017-07-26 03:41] mukeshsoni commented on #120
There can be various ways you can do it in css. You can even use the container class and then get hold of the input element using css rule -

.container_class input.invalid-number {
  /* your styling *
}

[2017-07-26 03:41] #120 closed

[2017-07-26 03:43] mukeshsoni commented on #35
What has been addressed?

[2017-07-27 14:19] abdelwahebmoalla opened #139 "limit number of digits for phone number"
is there a way to set maxlength=15  for example just to make sure more or less it can be a valid number

[2017-08-07 16:43] shogan94 opened #141 "Dropdown not rendering correctly"
Might be a bug somewhere in my code but I don't see any css changes or anything and all my other dropdowns work perfectly fine.

The code for my control...

    export function renderPhoneInput({input, label, title, mandatory, meta: {asyncValidating, touched, error, warning}, ...custom}) {
     return(
        <FormGroup controlId={input.name} validationState={touched && error ? 'error' : null}>

[2017-08-07 17:07] shogan94 commented on #141
Looks like it was lack of css... I imported the `default.css` and made a few minor tweaks and everything seems to be ok now.

[2017-08-07 17:07] #141 closed

[2017-08-10 10:01] NolizweGetMyBoat opened #142 "Sometimes there is a missing bracket by the number e.g U.S virgin Islands"
Please see screen shot below
![screen shot 2017-08-10 at 12 01 13](https://user-images.githubusercontent.com/23026458/29165632-a9685bcc-7dc3-11e7-83e1-789eb05a5e1a.png)

[2017-08-11 00:29] frazboyz opened #143 "Not compatible with React 16"
In React 16, they have removed React.createClass which breaks this library.

[2017-08-17 12:33] Si1kIfY commented on #143
Related to my issue #136

[2017-08-18 02:23] frazboyz opened #144 "Click event propagating through flag div."
I had this issue where the country list appeared for a tenth of a second(roughly) and then disappeared. This was caused by the event propagating through the flag button and then clicking the input as well(Which hides the drop down).

The second line in this code block fixes the issue.

`
handleFlagDropdownClick(event) {
    event.preventDefault();
`

[2017-08-18 13:55] sanjitbauli opened #145 "country is not getting changed when defaultCountry props value changed"

[2017-08-23 07:37] madslundholmdk commented on #136
Status on this issue?

[2017-08-30 15:59] trbarrett opened #146 "autoFormat=false still formats input"
Hi there,

I stumbled onto this component while looking for a react replacement of the intl-tel-input jquery plugin.

I've set `autoFormat` to `false`, but it seems to be formatting the input in some way. It's not possible for users to input their own spaces, dashes etc.

Is there a way I can let users type in whatever non-digit formatting they want?

[2017-08-31 12:23] GhaithZamrik opened #147 "add Name attribute"
I have a complex form in my project and am implementing react-telephone-input as an enhancement to the project, I am already using the name attribute to do lots of stuff already.
is there a possibility to add a name attribute to the library?
am guessing it should be fairly simple

[2017-08-31 12:56] mukeshsoni commented on #147
I don't understand what you are trying to say. There are no examples, no code samples, nothing.

[2017-08-31 13:06] GhaithZamrik commented on #147
can the name attribute be added to as well so we could do something like this?
[code]

[2017-08-31 13:08] mukeshsoni commented on #147
What is the purpose of the name attribute?

[2017-08-31 13:11] GhaithZamrik commented on #147
am using the name attribute in the input tag to do some validation and updating the backend
[code]

[2017-08-31 13:12] mukeshsoni commented on #147
Sorry, that's a very specific requirement for your use case. It doesn't add anything to the core working of the component.

[2017-08-31 13:16] GhaithZamrik commented on #147
true, but it would still be useful when using multiple phone fields on the same form.

[2017-08-31 13:19] mukeshsoni commented on #147
how so? you will anyways hookup the onChange event of each phone field with a separate event handler (or with handlers bound to some id using `this.handlePhoneChange.bind(this, id)`.

[2017-08-31 13:30] GhaithZamrik commented on #147
okay, I need to validate each field and then the form itself as a whole, is there a way you suggest to reference the specific ReactPhoneInput field since i can't have a name nor an id?

[2017-08-31 13:34] mukeshsoni commented on #147
Whenever anything changes in ReactTelInput, your onChange event handler is called. You can store those values in your state -

[code]

And in your `handleInputChange` event handler -

[code]

[2017-08-31 13:38] GhaithZamrik commented on #147
thanks

[2017-08-31 13:56] #147 closed

[2017-09-14 22:21] satishnath commented on #143
I see that react-onclickoutside dependency has to updated, the newer version of the library have the necessary updates to make it React (16) complaint.

[2017-09-15 04:28] mukeshsoni commented on #143
@frazboyz @Si1kIfY @satishnath I have updated the `react-onclickoutside` library to latest in v4.2.2.

[2017-09-15 04:28] mukeshsoni commented on #136
@madslundholmdk  @Si1kIfY @satishnath I have updated the react-onclickoutside library to latest in v4.2.2.

[2017-09-15 04:30] mukeshsoni commented on #146
@trbarrett The library only allows number input. `autoFormat={false}` will turn of formatting it does by putting the dashes etc as per the country convention.

[2017-09-15 04:30] #146 closed

[2017-09-15 04:31] mukeshsoni commented on #145
`defaultCountry` is only supposed the set the country in the first render. After that, the component takes over the state of the country. To change the value in subsequent renders, change the `value` prop.

[2017-09-15 04:31] #145 closed

[2017-09-15 04:34] mukeshsoni commented on #144
@frazboyz Thanks. Have added that piece of code in v4.2.3

[2017-09-15 04:34] #144 closed

[2017-09-15 04:37] mukeshsoni commented on #143
Duplicate of #136

[2017-09-15 04:37] #143 closed

[2017-09-15 13:31] satishnath commented on #143
Thank you so much for the library!

[2017-09-16 04:11] #136 closed

[2017-10-02 12:24] alexalghisi commented on #142
Also after selectin US Virgin Islands if you select another country the phone number displayed will be wrong.

[2017-10-03 04:01] mukeshsoni commented on #142
@alexalghisi You need to create a separate issue to track that.

[2017-10-05 07:28] Clcll opened #150 "problem with version 4.0.1"
Hi!
I have same problem as described here https://github.com/mukeshsoni/react-telephone-input/pull/104.
I tried to install  version 4.0.1 without  memoization but the version isn't valid
Thx

[2017-10-16 13:27] nmartinezb3 commented on #96
@mukeshsoni are you still not supporting max length?

[2017-10-16 15:55] goskydive opened #151 "Add support for the readOnly property"
It would great to have support for the readOnly property on INPUT.

e.g. add...
`readOnly: this.props.readOnly`
around line 758 of ReactTelephoneInput.js

[2017-10-17 21:37] adc17 opened #152 "No dropdown menu"
I do not get any dropdown menu at all when I use this component. Here's my code:

[code]

and this is what I see:
<img width="332" alt="capture d ecran 2017-10-17 17 34 55" src="https://user-images.githubusercontent.com/22868730/31690766-afd7a408-b361-11e7-8e0f-19c3d40c82fd.png">

Even stranger, if I import the old package I migrated from (but don't use it anywhere), flags appear:
[code]
<img widt

[2017-10-18 16:05] adc17 commented on #152
Ah, I see, I'm guessing that the flag interface forms part of the styles, because `'react-telephone-input/lib/withStyles'` works.

[2017-10-18 16:05] #152 closed

[2017-10-18 16:07] adc17 commented on #103
I'm also experiencing this issue.

[2017-10-24 13:34] mukeshsoni commented on #150
You can install the latest version - 4.2.3 @Clcll

[2017-10-24 13:34] #150 closed

[2017-10-24 13:57] Clcll commented on #150
@mukeshsoni thx for response. I am using 4.2.3 as you mentioned, it didn't resolve my problem

[2017-10-31 23:34] saadaouad opened #153 "Hide sign plus (+)"
Hello,

Thanks for the great tool,
I need to hide the initial value `sign (+)` from the input.

**This my code**
[code]

**Screen**
![image](https://user-images.githubusercontent.com/17694380/32253617-c93b75fe-be93-11e7-9b61-963999e491c8.png)

[2017-11-07 12:29] ForumT opened #154 "Empty the input field programatically"
Thank you so much for the great component! I have a doubt . Is there a way to programatically clear the telephone number field? I tried working with initial value and value but no luck :(

[2017-11-07 12:53] #154 closed

[2017-11-09 13:57] mukeshsoni commented on #153
@saadaouad Rigth now, there's no way to do that. Suggestions on the best way to do it and PRs are welcome.

[2017-11-09 13:58] mukeshsoni commented on #151
@goskydive  That's a good suggestion. Better yet, there can be a `inputProps` prop which will be passed down to `input` element.

[2017-11-09 14:05] goskydive commented on #151
@mukeshsoni Yes, I'd be super-happy with either of those.  Great component BTW.

[2017-11-11 14:19] mukeshsoni commented on #151
In version 4.3.3

@goskydive I have added a prop named `inputProps` which sets any numbers of properties on the input element. E.g.

[code]

[2017-11-11 14:19] #151 closed

[2017-11-11 14:23] mukeshsoni commented on #142
@NolizweGetMyBoat What missing bracket are you talking about? It's not clear from the screen shot. Can you please give more details and if possible, a gif or something.

[2017-11-11 14:27] mukeshsoni commented on #139
I don't find that a good enough way of ensuring validity. With different country formats leading to different lengths of strings. For now, you can use the `isValid` prop to pass in a validation function of your own, which also checks for the length of the string in the input field.

[2017-11-11 14:27] #139 closed

[2017-11-11 16:37] mukeshsoni commented on #133
@ktusharprdxn Have fixed it in 4.3.4

[2017-11-11 16:37] #133 closed

[2017-11-11 16:39] mukeshsoni commented on #142
@NolizweGetMyBoat I got what you meant. I can't fix that since fixing that would mean user cannot delete the number using backspace when cursor is at ')' since the component would again format it back to ')'. This number would anyways be formatted once the user starts typing in the whole number.

[2017-11-11 16:39] #142 closed

[2017-11-11 16:39] mukeshsoni commented on #142
@alexalghisi I have fixed that bug where selected US Virgin islands from dropdown would completely mess the whole telephone number. It's there is version 4.3.3

[2017-11-13 13:36] anuragb26 commented on #27
How do I get the unformatted number ?

[2017-11-13 13:39] anuragb26 opened #155 "Unformatted Number from the input"
Currently the onChange Handler provides number in the format valid for the country chosen.
Example : For India , the format is +.. .....-....." and I get the number in this format.
But How do  I get only the numbers being inputted without the country specific formatting ??

[2017-11-13 16:03] mukeshsoni commented on #155
number.replace(/\D/G, '')

[2017-11-13 16:05] mukeshsoni commented on #155
number.replace(/\D/g, '')

[2017-11-14 15:15] #155 closed

[2017-11-15 07:13] anuragb26 commented on #155
Thanks !

[2017-11-17 21:02] cptdesro opened #156 "Localize the country name"
It would be nice if there would be a props to override the country name, to localise it with the language we want. We could pass a json with the french names with the key of the country.

We love your component but we are developing a software in French, so we need to override countries name.

Thank you

[2017-11-18 07:14] mukeshsoni commented on #156
@cptdesro
You can do that using the `onlyCountries` prop. From the package `country-telephone-data`, pick `allCountries`, modify them as you like and send to ReactTelephoneInput as `onlyCountries` prop.

[code]

Try it and let me know if it works.

[2017-11-22 14:56] cptdesro commented on #156
Perfect Thanks, if you are interested, i can give you the list of localized country in french. It was long to localize each country.

[2017-11-23 04:33] mukeshsoni commented on #156
You can put it on github and put a link here. I would be happy to add the data link to README section.

[2017-11-23 14:32] #156 closed

[2017-12-07 10:58] yangyang158 opened #159 "I hope the dialCode can not be deleted when input change, how to do"
1. required prop is not working
2. I hope you can support the dialCode  can not be deleted  when input change

[2017-12-23 09:28] erselnordlys opened #160 "Language in titles"
Hello!
I have an issue with changing language of countries from English to any others (Russian, in my case). Is there in option to set another language in titles list?

[2017-12-23 13:23] mukeshsoni commented on #160
@erselnordlys There is no localization support. But you can pass the countries yourselves as a prop - `onlyCountries`

You can localize the list yourself by requiring it from the package [country-telephone-data](https://www.npmjs.com/package/country-telephone-data)

[code]

[2018-01-03 16:51] NickFranceschina commented on #134
FYI: it's actually `react-telephone-input/withStyles`

[2018-01-04 02:02] mukeshsoni commented on #134
Thanks @NickFranceschina . That's the correct path @Marcsimm

[2018-01-04 08:03] Marcsimm commented on #134
That fixes it thanks.

[2018-01-04 13:26] frankPairs opened #161 "Inferno error"
Hi community!

I have a problem when I try to compact code with inferno using this component.

Seems that there is any incompatibility a error is produced only in compiled version (using  inferno):

Uncaught DOMException: Failed to execute 'replaceChild' on 'Node': The node to be replaced is not a child of this node.

I'm sure that is this component because I've tried to remove it and application

[2018-01-04 17:23] mukeshsoni commented on #161
I do not know what is Inferno or how it works. Let me know if you can figure out the root cause. I will be glad to help after that.

[2018-01-04 17:38] frankPairs commented on #161
@mukeshsoni inferno is a library to reduce your bundle size. It's compatible with react functionalities and its size is only 9kb (https://github.com/infernojs/inferno).

Seems that there is anything in this library that doesn't work when you use inferno.

I tell you anything if I would discover the issue.

Thanks.

[2018-01-10 12:34] ilyaagarkov opened #162 "Problem with switching to flag of Canada"
Guys, It still doesn't work in some cases(v4.3.4).
After any react rerendering (change props or state in containing component) it switches back to US flag

For example, it's working incorrectly
[code]
After deleting calling of `this.props.onChange` and `setState` it works correct

[2018-01-10 12:55] umerbaig opened #163 "How to validate International Phone Number?"

[2018-01-15 01:37] mukeshsoni commented on #118
@marksboyce I don't have to bandwidth to look at the mobile issues. Can you please help contribute?

[2018-01-16 11:19] Kaarel94 opened #164 "Minor flag rendering issue on some zoom levels"
On some zoom levels in the browser (seen in chrome unsure about other browser) edges of the adjacent flags from the flags.png can be seen.

![image](https://user-images.githubusercontent.com/9853643/34986163-33880cda-fabf-11e7-84a5-9cfee8dd7e3b.png)

[2018-01-18 15:36] vorlov commented on #159
+ 1

[2018-01-23 16:34] bnjmn-jns commented on #128
the documentation states:

Annoying to have to dig through the closed issues to find out the correct syntax :/

[2018-01-23 16:46] mukeshsoni commented on #128
@bnjmn-jns Why don't you submit a pull request to fix the documentation?

[2018-01-23 17:04] bnjmn-jns commented on #128
Indeed.
Perhaps a better fix would be to allow users to either pass an array of country iso2 codes (given that this data is already in the package, seems unnecessary to require a dev to look it up manually) _or_ specify the data explicitly (syntax it has now).
I'll take a look at that myself in the next few days

[2018-01-31 08:44] aaronvine opened #165 "Problem with Puerto Rican numbers format"
Hi, there seems to be an issue with puerto rican phone numbers.

For example, if you type +17874104015, the formatting doesn't seem to work:

![2018-01-31_1043](https://user-images.githubusercontent.com/10596462/35613068-95634356-0673-11e8-8cdb-7a737ca476b6.png)

Thanks!

[2018-02-12 03:56] #165 closed

[2018-02-12 03:58] mukeshsoni commented on #165
This PR for country-telephone-data should fix it - https://github.com/mukeshsoni/country-telephone-data/pull/7

I have released 0.5.5 for country-telephone-data

[2018-02-12 03:58] mukeshsoni commented on #165
Oops, you are the one who made the PR :D

[2018-03-09 10:10] RKushnir opened #168 "lodash version locked"
I'm wondering if it's intentional that lodash dependency version is locked to "4.17.4". Looks like a typo to me. But if not, it would be good to know the reason. The [commit](https://github.com/mukeshsoni/react-telephone-input/commit/e818981057cc7872dd84e8adc74c4e37e3fc47e0) that introduced the change provides no explanation.

[2018-03-12 14:50] mklishevych opened #169 "onChange invoked in componentDidMount"
Is there a reason why it's implemented this way? It doesn't make much sense to me, because there is no real change happening, component is just being mounted. And it also makes it harder to use, I have to make a flag to know that if onChange is being called for the first time, then it's not from the user input, but from the component being mounted.

[2018-03-25 03:00] mukeshsoni commented on #169
I have completely forgotten why the `onChange` is called in `componentDidMount`. There must have been a reason but i did not document it.

I will try to test it without the `onChange` call and then remove it if it's unnecessary.

Thanks for reporting @mklishevych

[2018-04-03 11:26] sondremare opened #171 "Auto focus breaks the component"
**Expected behaviour**
Setting the input prop ```autoFocus``` to true, the input element should automatically be focused. And the caret should be positioned at the end of any initial value.

**Actual behaviour**
The input element is automatically focused, but the component throws an error due to ```fillDialCode``` trying to perform stuff before the reference is available. Also, the caret is positi

[2018-04-03 11:56] mukeshsoni commented on #171
Thanks for reporting @sondremare. Will take a look.

Sharing codesandbox link makes it so much faster and easier to understand what you mean!

[2018-04-03 14:07] sondremare commented on #171
Cool, let me know if you need anything else from me

[2018-04-09 08:49] mukeshsoni commented on #171
@sondremare  I tried reproducing the issue but could not do so in chrome and firefox. For some reason, it works differently on codesandbox 🤔

[2018-04-09 08:53] mukeshsoni commented on #171
ah, i didn't give the initial value. So happens only when `initialValue` is provided

[2018-04-09 09:46] mukeshsoni commented on #169
@mklishevych I have published v4.4.4 removing the onChange call in componentDidMount. I think the call was there since it gives you back the formatted number. But i guess they can use the `getNumber` instance method to get the formatted number whenever they want

[2018-04-09 09:46] #169 closed

[2018-04-09 09:57] mukeshsoni commented on #171
@sondremare I have fixed the error/exception scenario. The cursor moving to the start of the text is browser behavior.

[2018-04-09 09:57] #171 closed

[2018-04-09 10:32] mklishevych commented on #169
Thank you!

[2018-04-09 12:49] mukeshsoni commented on #168
@RKushnir  I have completely removed the lodash dependency in v4.5.5

[2018-04-09 12:49] #168 closed

[2018-04-09 12:51] mukeshsoni commented on #164
I was not able to reproduce this one. Please reopen in case you still see the issue.

[2018-04-09 12:51] #164 closed

[2018-04-09 12:52] mukeshsoni commented on #163
Don't know what you exactly mean. Please reopen the issue if you were still not able to figure it out.

[2018-04-09 12:52] #163 closed

[2018-04-09 12:54] RKushnir commented on #168
@mukeshsoni Thank you, awesome 🙂

[2018-04-09 12:55] mukeshsoni commented on #162
I was not able to reproduce the problem you have referenced. Please reopen if you can put up a working example on [codesandbox.io](https://codesandbox.io/)

[2018-04-09 12:55] #162 closed

[2018-04-09 12:56] mukeshsoni commented on #161
I have no idea about inferno. Please send across a pull request if you are able to find a solution

[2018-04-09 12:56] #161 closed

[2018-04-09 12:56] #160 closed

[2018-04-09 12:58] mukeshsoni commented on #118
I am closing this one since i can't find the time to work on mobile issues. Anyone kind enough to to send a PR can reopen it

[2018-04-09 12:58] #118 closed

[2018-04-09 12:59] #117 closed

[2018-04-09 13:04] mukeshsoni commented on #102
@benjamindulau Can you elaborate a little? From what i could find, E164 seems like the format with a + followed by country code and then the number. That is what you get in the formattedNumber property in onChange listener. Am i missing something here?

[2018-04-09 13:05] #101 closed

[2018-04-09 13:30] mukeshsoni opened #172 "Get the correct flags and support for retina screens"
[https://github.com/jackocnr/intl-tel-input/](https://github.com/jackocnr/intl-tel-input/) has updated the flag list. They are sourced from https://github.com/behdad/region-flags

[2018-04-13 07:54] blindingstars opened #173 "Remove inline CSS for flag images"
With `flagsImagePath` commented out and this package's CSS not imported, the following is still added to the markup:

`<div class="flag us" style="width: 16px; height: 11px; background-image:url("flags.png");">`

This makes retheming the flag icons more difficult, as inline CSS needs `!important` overrides. Anyone using a custom spritesheet or other non-default solution will need to override these

[2018-04-13 11:11] ForumT commented on #79
Hi,

This issue was closed but i am also facing this problem. I need a way to set name to the inner input because i am dynamically changing values by field name or id.

Any idea how to do it?

[2018-04-13 11:47] mukeshsoni commented on #79
you can set any prop on the input by using the `inputProps` prop -
[code]

[2018-04-13 11:56] ForumT opened #174 "Get Name of Input and a way to pass event"
Hi,

I have a field array having multiple phone fields. When i type number in each field, it needs to search the entered text from the list of numbers and when one of them is selected, the value should be added in the current input field.

I need:
1) a function which passes the event(probably onChange along with the fields it currently passes). So that i can get the name from event.target.name and

[2018-04-13 12:06] ForumT commented on #79
Thanks!! :)

[2018-04-16 03:08] blindingstars opened #175 "Duplicate key issues when using preferredCountries"
I've set 2 preferred countries in my `<ReactTelInput>` and run into this error in my console for each one:

`Encountered two children with the same key, flag_no_us. Child keys must be unique; when two children share a key, only the first child will be used.`

`Encountered two children with the same key, flag_no_mx. Child keys must be unique; when two children share a key, only the first child will

[2018-04-16 04:38] mukeshsoni commented on #175
Thanks for reporting. They should be actually having different keys. Will look into it.

[2018-04-16 14:44] mukeshsoni commented on #175
@blindingstars I have fixed the key issue in v4.5.7. Please verify and let me know if it works.

[2018-04-16 20:02] mukeshsoni commented on #173
Thansk for the suggestions! Have incorporated in v4.5.8

[2018-04-16 20:02] #173 closed

[2018-04-18 05:09] blindingstars commented on #175
@mukeshsoni Thanks so much! All fixed 👍

[2018-04-18 05:09] #175 closed

[2018-04-18 08:40] #174 closed

[2018-05-01 05:44] sourabhChourasiya opened #177 "Not detecting the country code for current country automatically."
When I am passing the **defaultCountry** props to it, it is perfect, but If I am not passing the **defaultCountry** props to it, it is not detecting the **defaultCountry** automatically, in that case, it is selecting the first value of the country list. I think it should detect the **defaultCountry** automatically.

Or if the module is supporting this feature already, please let me know the **prop

[2018-05-08 18:54] mukeshsoni commented on #105
@mrlundis I have changed the dropdown list to a virtualized list. Also adjusted the css a bit. It's much smoother (even on mobile phone). Check it out and let me know if you find problems on mobile.

[2018-05-25 09:00] renarsvilnis opened #179 "Releases and changelog"
Hi,
it would great if there would be a `changelog.md` file or github release for each version that documents changes.

Using `npm version <major|minor|patch>` (similary with yarn) automaticly increments package.json version and also creates a git tag.

Workflow like this makes it easy and fault-proof:

[code]

Also noticed that [version on npm](https://www.npmjs.com/package/react-telephone-input)

[2018-05-31 14:42] mukeshsoni commented on #179
@renarsvilnis That is a very good idea. I do not actually know how exactly does it work. I write my changes in changelog.md and they are automatically shown in github for that tag?

[2018-05-31 14:47] mukeshsoni commented on #179
I think along with `npm version` i need to use github releases - https://help.github.com/articles/creating-releases/

Coupled with  [semver](https://www.npmjs.com/package/semver, they should create a nice changelog with semantic release versions.

[2018-06-07 13:54] renarsvilnis commented on #179
@mukeshsoni With `npm version` you first create a release locally, then push it to GitHub once in GitHub, use "Releases" and select the version you just pushed.

Also as a version is in progress, like a couple of commits did something, but there are other things in progress before a new version release, you can start creating a draft release before even creating the final release. So once it's rea

[2018-06-07 13:56] mukeshsoni commented on #179
I will keep it open so that i know that i need to follow this process from the next release.

[2018-06-07 14:45] renarsvilnis commented on #179
You can use the emojis listed in the article to enhance the releases. Make them more readable at a quick glance
https://github.com/slashsBin/styleguide-git-commit-message

[2018-06-07 14:55] mukeshsoni commented on #179
Cool! Thanks for the link!

[2018-06-15 20:26] NikkiMeganMoore opened #180 "When switching between Canada and USA in the dropdown, the number one is appended every time"
When you switch from CA to US or from US to CA, it adds a 1 every time instead of just staying the same.

Please consider fixing this issue, thank you!

[2018-06-28 18:02] EugeneKovalev opened #181 "No onKeyDown event. Impossible to track a TAB press"
I have to save a phone value on TabPress but i couldn't find any mean of doing this. There's no onKeyDown event in the lib. Maybe I'm doing smth wrong.

Any help is highly appreciated!

[2018-07-01 14:34] mukeshsoni commented on #181
There is `inputProps` prop, but if you use it to pass a onKeyDown event handler, things will break in the component. I will probably need to make changes so that i can merge eventHandlers on input passed as prop as well as the ones internal to the component.

[2018-07-03 17:02] Infinity1high opened #182 "not able to select Kazakhstan flag"
As Kazakhstan country code has value '+7'  , the same as Russian country code, it is not possible to select kazakhstan's flag.
Actually country code is +77

[2018-07-04 00:58] mukeshsoni commented on #182
Will take a look. Thanks for reporting!

[2018-07-11 16:43] NikkiMeganMoore commented on #180
Is there any update on this issue? TIA

[2018-07-19 09:52] olleolle opened #183 "replaceCountryCode works incorrectly"
Enter a phone number `+55-55-55`
Choose USA `+1 (555) 5`
Choose Canada `+1 (155) 55`
Choose USA `+1 (115) 555`

[2018-07-25 06:41] chungweileong94 opened #184 "Error occur when clicked on selected country flag item"
When I clicked on the first/selected flag item as image shows below:
![image](https://user-images.githubusercontent.com/15154097/43183685-9a7add66-9018-11e8-9cdb-54f0a18dc1fc.png)

it complaint about `iso2` undefined....

![image](https://user-images.githubusercontent.com/15154097/43183605-47668530-9018-11e8-92ed-fbcc79a1e287.png)

[2018-08-01 14:59] villamil commented on #180
I just did a pull request to solve this issue

[2018-08-26 12:49] mukeshsoni commented on #183
Fixed in 4.73.0, thanks to Villamil's PR https://github.com/mukeshsoni/react-telephone-input/pull/185

[2018-08-26 12:49] #183 closed

[2018-08-26 12:59] mukeshsoni commented on #180
Have been fixed in 4.73.0 (sorry for the messy versioning. still learning semver), thanks to @villamil PR

[2018-08-26 12:59] #180 closed

[2018-08-26 13:02] mukeshsoni commented on #179
Used `npm version` for the current release. Also added a changelog file. Made a mistake while using `npm version` for the first version! Hopefully i get used to the workflow.

[2018-08-26 13:02] #179 closed

[2018-08-26 15:14] mukeshsoni commented on #184
@chungweileong94 I could not reproduce the error. Can you provide a link to a sample app somewhere?

[2018-08-26 15:16] mukeshsoni commented on #182
@Infinity1high I could not reproduce the error. Maybe fixed in 4.73.0

[2018-08-27 04:44] mukeshsoni commented on #181
@EugeneKovalev I was able to do what you asked for using `inputProps`. Demo here https://codesandbox.io/s/ov8k9nk73q

[2018-08-27 04:44] #181 closed

[2018-09-05 13:52] ahmetkuslular opened #186 "mask is not working properly"
<img width="855" alt="screen shot 2018-09-05 at 16 50 14" src="https://user-images.githubusercontent.com/17436691/45097530-bd279c80-b12b-11e8-940d-4aa1642ad0c5.png">

Mask length accepts a large phone number entry!

[2018-09-20 09:21] Nazin opened #187 "Component is not accessible"
When there are multiple text inputs on the page and react-telephone-input is one of them, user cannot correctly navigate using only keyboard.

Pressing `tab` before the react-telephone-input will correctly focus the phone field. Next `tab` will focus on flag element, but there is no indicator that the flag element is focused nor user is able to select the flag using keyboard only.

[2018-09-21 10:07] mukeshsoni commented on #187
Yup, that's a problem with this component. I never thought about accessibility while building it. I don't know a easy way to put in keyboard navigation in the current code. Specially one related to navigating countries in the list and selecting one.

I am thinking about rewriting the whole thing to only support react 16+.

[2018-09-23 12:37] mukeshsoni commented on #187
@Nazin
I have changed the flag element to a `button`, which means it can now be focused and activated using keyboard. I have also added manual down key activation for flag dropdown.

You can find these fixes in ver 4.73.1. Let me know if you find other accessibility issues.

[2018-09-23 13:50] mukeshsoni commented on #186
@ahmetkuslular What is mask length? Is it a `<input>` element attribute?

[2018-09-24 15:47] mukeshsoni commented on #187
@hlomzik Thanks for the input. Have published bugfix as a patch version - v4.73.2 with your suggested change. I didn't understand why it should be a minor version. If a minor version makes sense, i can cut another release with v4.74.0

[2018-09-26 08:35] hlomzik commented on #187
@mukeshsoni Hmm, yes, if this will be done fully correct and transparent it looks like a patch, yes. But now there is still a version with button getting submit on npm, which breaks the forms a little. And I see a fixed version in `a11y` branch, just not on npm.
Thanks for changes!

[2018-09-26 08:36] mukeshsoni commented on #187
Ah, it's not merged to master. But npm should have it. I published from the a11y branch.

[2018-09-26 20:05] adrianObel opened #188 "Providing inputProps.ref breaks flag selection"
As explained in the title, assigning a ref to the input breaks flag selection.

[code]

Manually selecting a country while having done the above throws
[code]

[2018-10-04 13:49] LeoGardel opened #189 "Flags button shoould have type="button""
When the flags are represented by a button and I press enter to submit the form, it is taking precedence over the true submit button, the one that has a type="submit".

To prevent that, I think that the button should have a type="button", or, at least, we should be able to pass custom props to the button in the same way we are able to do to the input.

[2018-10-05 12:18] mukeshsoni commented on #189
@LeoGardel
My bad. I thought i had published the fix around 10 days back but i think i forgot to publish :)

Have pushed the fix in v4.73.3

[2018-10-05 12:20] mukeshsoni commented on #187
@hlomzik @Nazin Wow, so sorry. Don't know why i though i had published v4.73.3 but never did. Have pushed the change with type='button' in v4.73.3.

[2018-10-05 12:20] #187 closed

[2018-10-05 12:20] #189 closed

[2018-10-23 11:55] ksikora commented on #187
@mukeshsoni

We tested your fix in 4.73.3 but it does not work correctly. Problem is `tabIndex="0"` for the container of button element for selected-flag. It results in additional tab click required, to focus flag.

What is more div with this tabIndex plays no role and has no attached keyboard action. It should be removed.

![image](https://user-images.githubusercontent.com/1908677/47358669-aa1460

[2018-11-21 15:11] EricSong8612 opened #192 "customize country list item height (virtuallist)"
Hi there, I'm trying to style the country list item with customized height. but the problem is that there is a gap between each items, which is caused by the position top value of each item i think. According to the source code, a virtual list is used here. but the parameters are hard-coded. so is there any way to change this?
![screen shot 2018-11-21 at 10 06 33 am](https://user-images.githubuser

[2018-12-07 13:52] adrienharnay opened #193 "Validate numbers based on type (mobile/landline)"
Hey,

Would there be any way to also validate the type of the number (mobile/landline/other)?

Thanks in advance!

[2018-12-07 13:54] mukeshsoni commented on #193
Nope. That will be different for different countries and not in the purview of this component. This component is quite generic.

[2018-12-07 13:57] #193 closed

[2018-12-07 13:57] adrienharnay commented on #193
Alright thanks!

[2018-12-10 18:51] abumalick opened #194 "Blacklist one country"
Thanks for your component 👍

We have a use case where we want to remove some country from the list. Would you accept a PR would implement this functionality ?

We could pass an array of country names to blacklist as a prop for example.

[2018-12-11 01:34] mukeshsoni commented on #194
The feature is already there. There is a prop called `onlyCountries` which takes the list/array of countries to be shown in the dropdown.

https://github.com/mukeshsoni/react-telephone-input#onlycountries

[2018-12-11 07:14] Nazin opened #195 "Component is still not accessible"
Component is still not fully accessible, please take a look at https://github.com/mukeshsoni/react-telephone-input/issues/187#issuecomment-432216241

[2018-12-11 08:55] abumalick commented on #194
I didn't want to include the full list of countries in my code.

But I think you are right, I think I can import the phone list from your package and pass it directly to the prop.

Right ?

Thank you very much

[2018-12-11 08:55] #194 closed

[2018-12-11 10:06] mukeshsoni commented on #195
Please submit a Pull Request. I do not have the bandwidth work on the component right now.

Or fork.

[2018-12-11 11:22] abumalick opened #196 "the demo page has no valid https"
https://unstack.in/react-telephone-input

[2018-12-11 13:34] mukeshsoni commented on #196
What does that mean?

[2018-12-11 13:44] abumalick commented on #196
it seems it is working now.

Earlier I tried to access the page with chrome and firefox and got the usual error when https certificate is not valid.

You fixed it I think ?

[2018-12-11 13:44] #196 closed

[2019-01-02 13:43] viktornar commented on #192
It would be great if it would be possible to pass width to virtual list as well instead of having hard coded it.

@EricSong8612 Right now I'm using a hack at some point:
[code]

I have used findIndex from lodash function since we already using it in our project.

It's also possible to override  widht and height with max-width and max-height in css, but then VirtualList doesn't work correctly with

[2019-01-16 03:47] mukeshsoni commented on #195
version 4.74.4 fixes that

[2019-01-16 03:47] #195 closed

[2019-01-16 03:49] #182 closed

[2019-01-28 07:20] #95 closed

[2019-02-25 03:20] yangyang158 opened #198 "IE Bug：mouse position is error"
In IE broswer, delete value and leave only the plus sign, then click outside, then click  input, the mouse position is not at the end

[2019-03-11 06:30] naveensomanna opened #199 "On select particular country render flag to country name"
On select a particular country in the array, I was trying to display a country name rather than flag

[2019-03-11 06:34] mukeshsoni commented on #199
Can you give more details on what you are trying to do and what is happening?

[2019-03-11 06:38] naveensomanna commented on #199
I am just selecting a particular country from list initially its
displaying flag once I selected a particular country in the list its need
to display country name instead of particular flags.

On Mon, Mar 11, 2019 at 12:04 PM Mukesh Soni <notifications@github.com>
wrote:

--
Regards,
Naveen

[2019-06-19 09:56] ttridon opened #200 "BrowserslistError since MaterialUi v4"
Hi,

Since I updated MaterialUI to v4.1.1, "react-telephone-input/lib/withStyles" dont work anymore.
It display an error:

Failed to compile.

./node_modules/react-telephone-input/css/default.css (./node_modules/css-loader/dist/cjs.js??ref--6-oneOf-3-1!./node_modules/postcss-loader/src??postcss!./node_modules/react-telephone-input/css/default.css)
BrowserslistError: Unknown browser query `android

[2019-06-19 10:10] mukeshsoni commented on #200
Which query are you talking about? Can you point to the code?

[2019-06-19 11:10] ttridon commented on #200
I'm using it in a React application.
I dont even use it, simply import it trigger the error:

[2019-06-19 11:12] mukeshsoni commented on #200
The css doesn't have any such query. There's no reference to `android` in the css file.

[2019-07-02 07:34] Falkovic1993 opened #201 "Auto fill, changes the country code."
Hey!

So I ran into a problem where I start off by setting the default country based on the language the user is viewing my site on. In this case Danish (+45). It's a form with name, e-mail and phone.

When user starts typing their name, it often comes up with autofill, which a lot of users use. Then when chosen it changes the country code based on the first numbers in a phone number in the autofi

[2019-07-16 01:51] MonkeyInWind opened #202 "When I deleted the area code and entered the phone number, there was a bug."
![Jul-16-2019 09-48-55](https://user-images.githubusercontent.com/34543887/61259995-2e55c880-a7af-11e9-908a-c51c7ee3a7c4.gif)

[2019-07-16 01:55] #202 closed

[2019-08-04 05:50] mukeshsoni opened #203 "Many values, like height/width etc., are hardcoded"
Many values, like height/width etc., are hard coded. They should instead be customizable through props.

[2019-08-12 01:05] tonynguyenit18 opened #204 "Cursor auto move to the end"
When moving the cursor to any group number except the last one, after adding a number the cursor auto move to the end.

[2019-08-14 04:53] mukeshsoni commented on #204
@tonygentilcore I will need more detail. I don't understand it at all. Can you provide more detail with a codesandbox link, if possible?

[2019-09-12 14:08] sklevtsov-pyrus opened #232 "kazakhstan phone numbers works incorrect"
+7 717 ...,
+7-313 ...
show russian flag
expect kazakhstan flag

[2019-10-04 12:30] sanju-developer opened #240 "How to disable editing of country code ?"
Can you please let me know, how we can disable the editing of country code in input field.
For eg: if I select India for india it's +91. So I want nobody can edit this +91 to something else.

Please acknowledge.

[2019-10-23 21:57] AnnaKap opened #246 "Customize formatting number options (for obfuscating number purpose)"
Would be great to be able to customize the regex replace expressions in order to customize what characters would be valid besides numbers. Using this for obfuscating purposes so that the number can be hidden upon request of the user.

[2020-03-04 11:50] tomdohnal opened #266 "Prefix componentWillReceiveProps with UNSAFE_"
As React throws a warning when you use the `componentWillReceiveProps` lifecycle method, we should either prefix it with the `UNSAFE_` keyword or refactor it to use a different approach.

There are pending pull requests for both these approaches #265 #247 :)

[2020-03-05 06:54] mukeshsoni commented on #266
Version `4.74.4` does not have `componentWillReceiveProps` any more.

[2020-03-05 06:54] #266 closed

[2020-03-23 09:15] bartekcis opened #283 "componentWillReceiveProps not recomended to use."
Hi,

It seems that the library uses life cycle methods no longer considered ass a good practice. When I run Jest test I get warnings:

_console.warn node_modules/react-dom/cjs/react-dom.development.js:88
      Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details.

      * Move data fetching code or side

[2020-03-23 10:15] mukeshsoni commented on #283
Which version of react-telephone-input are you using?

[2020-03-23 10:16] bartekcis commented on #283
It is "react-telephone-input": "^4.74.4",

[2020-03-23 12:01] mukeshsoni commented on #283
Can you try 4.75.4?

[2020-03-23 12:15] bartekcis commented on #283
Still no good but it's a step forward I think. Now it complains about `VirtualList` component:
![image](https://user-images.githubusercontent.com/57143717/77315735-f7ea2900-6cff-11ea-9da0-c13a1cba7dfe.png)

[2020-03-23 13:30] mukeshsoni commented on #283
Ok. I am using `react-tiny-virtual-list` to render the list internally. That component uses `componentWillReceiveProps`. I can't change that component at this point in time.

[2020-03-23 13:35] bartekcis commented on #283
Ok. Thanks, do you think it's worth to rise an issue there? Are you going to release 4.75.4?

[2020-03-23 13:38] mukeshsoni commented on #283
I have released 4.75.4. Didn't you install 4.75.4 through npm?

I would suggest raising an issue with react-tiny-virtual-list. If possible, raise a PR with an alternative.

[2020-03-23 13:54] bartekcis commented on #283
Yes, I did it via npm. Ok I'll rise an issue there. Thanks for help!

[2020-03-27 21:06] gleuch opened #293 "Setting `us` or `ca` as default country chooses incorrect country"
Passing `us` or `ca` as defaultCountry no longer chooses "United States" or "Canada" as the correct entry or flag image. Instead it defaults to "United States Minor Outlying Islands", which does not have a defined flag.

<img width="414" alt="Screen Shot 2020-03-27 at 16 44 32" src="https://user-images.githubusercontent.com/9039/77799101-71f51780-704a-11ea-9f19-b879bd73fa49.png">

Works in v4.74.4

[2020-04-14 05:03] vishal-techbitsolution opened #309 "incorrect country selection from drop down"
When I select any country from drop down and suppose there is any other with same country code then it picks the one which is at very end of list. E.g.
Aland Islands and finland has same country code +358, If I choose Aland Islands it will select finland because it is at very end of list

[2020-04-21 02:10] bulby97 opened #314 "Pitcairn islands conflicts with New Zealand"
They have the same prefix 64.

[2020-04-29 13:00] samthomson commented on #201
Hi @Falkovic1993 did you find a solution for this?

[2020-04-29 15:24] samthomson opened #320 "pasting number doesn't select correct country"
1. click in to input
2. press ctrl + A
3. paste in from clipboard '4522594586'

Expectation: Danish flag is selected, with the number component 22594586
Reality: US flag is shown, and number 122594586

Note: This only happens the first time, second time round it works as expected. Reloading the page brings it back to the initial problematic state.

Seems related to but different from this issue as

[2020-04-29 15:43] mukeshsoni commented on #320
@samthomson Can you open a PR for adding a prop for disabling auto parsing of country code?

[2020-04-29 16:03] samthomson commented on #320
Sure, but in that case I'll look to fix handling the initial pasted value (unless you know that to be a dead end) since that where the bug is.
I just pulled down the project and ran as per instructions at base of read me and got an error:

![image](https://user-images.githubusercontent.com/6588340/80618128-74c09f00-8a32-11ea-8b24-5cf536b64694.png)

Can you confirm following those instructions work

[2020-04-29 17:18] mukeshsoni commented on #320
Have pushed a fix for the build. You can pull the latest master.

[2020-04-30 17:14] mukeshsoni commented on #320
@samthomson I am changing the testing library as well as fixing a number of other bugs.

You can checkout the PR here - https://github.com/mukeshsoni/react-telephone-input/pulls

You can use the `bugfixes` branch which is now stable. It will build properly as well as all the tests pass. I will merge to master soon.

[2020-04-30 18:09] mukeshsoni commented on #293
@gleuch Fixed in 4.75.5

[2020-04-30 18:09] #293 closed

[2020-04-30 22:19] carlos-soto commented on #309
@vishal-techbitsolution I was having the same issue, you can also reproduce this issue very easily with Canada, USA and United States Minor Outlying Islands
![react-telephone-input](https://user-images.githubusercontent.com/900934/80760713-94b99680-8af6-11ea-8010-44f2c4daa7cf.gif)
I downloaded the demo and it works fine, which is very strange.
@mukeshsoni, any ideas?

[2020-04-30 22:20] carlos-soto commented on #314
@bulby97 Is this a duplicate of #309?

[2020-04-30 22:43] bulby97 commented on #314
Yes

[2020-04-30 22:43] #314 closed

[2020-04-30 22:44] bulby97 commented on #309
I had to implement my own countries list by removing unwanted duplicates.

[2020-05-01 00:24] carlos-soto commented on #309
@bulby97, @vishal-techbitsolution downgrading to 4.74.4 worked for the Canada, USA and United States Minor Outlying Islands. It didn't work for Aland Islands though, my guess is that it has something to do with the character encoding, notice the "Å"
![react-telephone-input](https://user-images.githubusercontent.com/900934/80771150-bd9a5580-8b0f-11ea-9376-a564c019cac3.gif)

Also, strangely enough,

[2020-05-01 01:40] mukeshsoni commented on #309
@carlos-soto which version had the bug?

[2020-05-02 02:34] mukeshsoni commented on #309
This is fixed in v4.75.5

[2020-05-02 02:34] #309 closed

[2020-05-02 02:35] mukeshsoni commented on #240
There is no way to do it right now. I don't plan to add it in near future.

[2020-05-02 02:35] #240 closed

[2020-05-02 02:37] mukeshsoni commented on #320
@samthomson I could not reproduce it in 4.75.5. Might have been fixed with other bug fixes i made.

[2020-05-02 02:37] #320 closed

[2020-05-02 02:39] #159 closed

[2020-05-02 02:41] mukeshsoni commented on #74
This should be a change in https://github.com/mukeshsoni/country-telephone-data

[2020-05-02 02:41] #74 closed

[2020-05-02 02:42] #71 closed

[2020-05-02 02:44] #80 closed

[2020-05-02 02:44] #84 closed

[2020-05-02 02:46] #153 closed

[2020-05-02 02:47] #177 closed

[2020-05-02 02:48] mukeshsoni commented on #198
Will not fix IE bugs

[2020-05-02 02:48] #198 closed

[2020-05-02 02:53] mukeshsoni commented on #102
As far as i understood, our formatted numbers are already E164. We might not be doing a complete validation for E164, but that's on purpose. There's is no good way to programatically validate the E164 format anyways. Need to use something like an external api, like https://www.twilio.com/blog/2017/03/phone-number-verification-without-regular-expression.html, to verify a phone number. That can be d

[2020-05-02 02:53] #102 closed

[2020-05-02 02:58] saadaouad commented on #153
@mukeshsoni is there any update on this please?

[2020-05-02 03:06] saadaouad commented on #153
@mukeshsoni Could you please reopen this issue and give us some insights to fix it

[2020-05-02 03:35] mukeshsoni commented on #153
There's no way to do it right now and i don't have the time to think of a solution for it. You can raise a PR if you think of a solution. I will close this one since it's not a bug and not high on list of priorities.

[2020-05-02 03:37] mukeshsoni commented on #153
@saadaouad You opened this issue in 2017. How did you take care of that requirement in the 2 years since then and now?

[2020-05-02 03:37] #186 closed

[2020-05-02 03:39] #200 closed

[2020-05-02 03:44] mukeshsoni commented on #232
Bot Russia and Kazakhstan flags seem to have same dial code. So it's not wrong. Just that the priorities are set as 0 for russia
https://github.com/mukeshsoni/country-telephone-data/blob/master/country_telephone_data.js#L252

And 1 for Kazakhstan  https://github.com/mukeshsoni/country-telephone-data/blob/master/country_telephone_data.js#L184

If we make the priorities same for both, then Kazakhsta

[2020-05-02 03:44] #232 closed

[2020-05-02 03:45] mukeshsoni commented on #199
Please provide a video or gif or a working example on codesandbox. I am not at all clear about the problem. Please reopen if you can reproduce and share a working example with steps.

[2020-05-02 03:45] #199 closed

[2020-05-02 03:47] mukeshsoni commented on #188
All i can say is not to provide the ref for now, because we internally add a ref to the input element to do things like focus it when the flag dropdown closes, focus input when `autoFcus` prop is set to true etc.

Maybe pass an id to the input component and use the good old document.getElementById to get hold of the input element.

[2020-05-02 03:47] #188 closed

[2020-05-02 03:48] #105 closed

[2020-05-02 03:49] saadaouad commented on #153
Can you reopen this to keep trace for that?

[2020-05-02 03:50] mukeshsoni commented on #153
Sorry, i don't have the bandwidth and don't think i will take it up any time soon.

[2020-05-04 15:30] samthomson commented on #320
Hey, getting to this now,
Just updated to v 5, still an issue sadly. Please re-open the issue and I'll start on a PR.

Unfortunately the local demo/test page doesn't seem to work (no build errors this time, just blank screen rendered):
![image](https://user-images.githubusercontent.com/6588340/80983328-f8f09900-8e1b-11ea-91de-ebd1955dfa01.png)
Any ideas?

[2020-05-04 15:31] samthomson commented on #320
(it does appear the app has built successfully)
![image](https://user-images.githubusercontent.com/6588340/80983582-3a814400-8e1c-11ea-92b4-0e3a93fabbe6.png)

[2020-05-04 15:55] mukeshsoni commented on #320
Oh. Didn't know the demo was broken. Let me take a look.

[2020-05-04 16:01] mukeshsoni commented on #320
@samthomson Have fixed the demo server thing. You should see the demos now.

[2020-05-04 18:28] carlos-soto commented on #309
Hey @mukeshsoni, so sorry for the late response. I just updated to 4.75.5 and can validate that the library works correctly for the Aland Islands/Finland and the Canada/USA/United States Minor Outlying Islands cases.

![react-telephone-input](https://user-images.githubusercontent.com/900934/80999894-9a6af100-8e02-11ea-8056-5adfdddb1d49.gif)

Thank you so much for looking into this in such a timely

[2020-05-05 15:04] samthomson commented on #320
Can confirm the issue was in my code base. Sorry for wasting your time. A related component was changing the state of your phone input :sweat:
Thanks for helping, and good to know you're open to PRs for the future :+1:

[2020-05-05 15:10] mukeshsoni commented on #320
No problem. Glad you found the issue.

[2020-05-08 02:58] lrojas94 commented on #169
@mukeshsoni Found myself needing the guessed country, but since no `onChange` is called at first, no way to get the guessed country here. I see you talk about an instance method and whatnot here, is that possible?

[2020-05-08 04:53] mukeshsoni commented on #169
You can add a ref on ReactTelephoneInput to get hold of it's instance

[code]

[2020-05-08 13:32] lrojas94 commented on #169
@mukeshsoni I don't get any `getNumber` method from the ref. In fact, to access the instance methods I need to go like this:

`phoneInputRef.current?.__wrappedInstance.guessSelectedCountry(value)`

I don't suppose the `__wrappedInstance` value is intentional here, but it's the only way I can access the instance methods.

[2020-05-08 13:35] mukeshsoni commented on #169
I missed the `current` part since it's how the new react refs work. I don't know about the `__wrappedInstance` part. If it's working for you, that's good, i guess.

[2020-05-08 13:37] lrojas94 commented on #169
I tested both with `current` and the old `this.ref = ref`, but none of those had the `getNumber` method available. I'll probably check this package during the weekend, maybe I can find out what's going on and export it.

[2020-05-08 13:39] mukeshsoni commented on #169
You are right. It's no longer there. I might have removed it in some iteration. I don't remember. You can raise a PR to add it.

[2020-05-11 08:23] utsav14nov opened #331 "No custom placeholder prop"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-05-11 08:28] #331 closed

[2020-05-12 06:03] utsav14nov opened #337 "Placeholder prop is not working as default value of input is always set to '+'"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-05-14 08:35] sohansarma opened #338 "Value not getting cleared after submit."
**Describe the bug**
I am storing the value in state and after submitting the form I am clearing the state, The state is getting cleared but number in the form is not getting cleared as I see the value is already there in DOM.

`

`this._mapPropsToState = function (props) {`

    var firstCall = arguments.length > 1 && arguments[1] !== undefined ? arguments[1] : false
    var inputNumber = void 0;

[2020-05-14 13:17] sohansarma commented on #338
I used initialValue instead of value so the issue came up. @mukeshsoni  Please make sure you update the Doc
`value and initialValue
Both the props have the same purpose - for setting the initial value of the input programatically.`

I don't see both working same for reseting.

[2020-07-09 09:18] sumant2347 opened #367 "Is there any way to put restriction on editing the dial code from input box?"
- When I try to edit number I can edit the dial code as well, is there any way to keep it non editable and append entered number to it?

[2020-08-07 04:13] hachi-studio opened #380 "UK phone number does not show flag."
**Describe the bug**
UK numbers do not appear when entering a phone number (tries to show 'gg' country flag instead, which does not exist?)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://github.com/mukeshsoni/react-telephone-input
2. Type +44
3. Anything else you enter after makes the flag disappear, view source and the class is 'flag gg'

**Expected behaviour**
A clear and c

[2020-08-20 14:57] Kyxey commented on #380
It somehow mistakes `UK` with `Guernsey` as they both have same country prefix. When you change the country by selecting the flag it gets fixed. Weird behavior.

[2020-09-05 20:18] guesant opened #394 "Two format types in Brazil"
**Is your feature request related to a problem? Please describe.**

Feature Request.

Here in Brazil normally we format mobile phone numbers as +55 (xx) xxxxx-xxxx (11 digits) and some commercial/residential numbers as +55 xxxx-xxxx (10 digits)

**Describe the solution you'd like**

I don't know if is possible but it can be nice to have both formats.

**Describe alternatives you've considered**

*

[2020-12-01 08:10] sohansarma commented on #338
The issue was resolved but it came up again. Was there any change in the code?

[2020-12-24 16:19] cpdwyer commented on #380
I am experiencing the same issue. Setting a initial value with +44xx... it will default to Guernsey. When typing +44 will show it as 'gb' then adding another number +44x will then switch it to Guernsey.

[2021-03-18 06:31] prabhjotkaur10 opened #439 "Missing flags for some countries"
Hi,
There are some countries in the dropdown which do not have a flag, like "Jersey", "Kosovo", "Moyoto", etc.
Could you please add the missing flags in the flag sprite?

Thanks!!

[2021-12-03 15:36] chrisgbaker opened #470 "Support React 17"
# Overview
Hello! I was curious if React 17 support was on the roadmap to be added to `react-telephone-input`? Thanks!

## Package versions
react-telephone-input version: @latest

[2022-09-16 08:44] uddeh007 commented on #204
Hi @mukeshsoni Getting the same issue. When I try to edit between any phone number my cursor moves to the end.
sharing codesandbox link pfa.
https://codesandbox.io/s/unruffled-bessie-ml1l1t?file=/src/App.js